// Color contrast
@function color-yiq( $color, $dark: $yiq-text-dark, $light: $yiq-text-light ) {
  $r: red( $color );
  $g: green( $color );
  $b: blue( $color );

  $yiq: ( ( $r * 299 ) + ( $g * 587 ) + ( $b * 114 ) ) / 1000;

  @return if( $yiq >= $yiq-contrasted-threshold, $dark, $light );
}

@function is_numeric( $var ) {
    @if type-of( $var ) == number {
        @return unitless( $var );
    } @else {
        @return false;
    }
}