<article class="" tabindex="0">
  <header>
      <h2><a href="{{ .Page.Permalink | relURL }}">{{ .Page.Title}}</a></h2>
      {{ with .Params.category }}
      <p class="category"><a class="button button-sm" href="{{ "category" | absURL }}/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ with .Params.tags }}
          {{ range . }}
            <a class="button button-xs" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> 
          {{ end }}
        </p>
      {{ end }}
  </header>
  {{ partial "components/thumbnail" . }}
  <div class="summary">
    <time>{{ .Date.Format "January _2, 2006" }}</time>
    {{ .Page.Summary | markdownify }}
  </div>
</article>