<article class="" tabindex="0">
  <header>
      <h3><a href="{{ .Page.Permalink | relURL }}">{{ .Page.Title}}</a></h3>
      {{ with .Params.categories }}
      <p class="taxonomy"><a class="button button-sm" href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ with .Params.tags }}
      <span class="tags">
          {{ range . }}
            <a class="button button-xs" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> 
          {{ end }}
      </span>
        </p>
      {{ end }}
  </header>
  {{ partial "components/thumbnail" . }}
  <div class="summary">
    <time>{{ .Date.Format "January _2, 2006" }}</time>
    {{ .Page.Summary | markdownify }}
  </div>
</article>