{{/**
   * Breadcrumbs
	 *
	 * Display breadcrumbs based on the current page
   *
   * @version 1.0.0
	 *
   */}}
<div id="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{ $siteTitle := "Home" }}
        {{ template "breadcrumbnav" (dict "p1" . "p2" . "siteTitle" $siteTitle ) }}
        {{ define "breadcrumbnav" }}
        {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "siteTitle" .siteTitle )  }}
        {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "siteTitle" .siteTitle )  }}
        {{ end }}
        <li class="breadcrumb-item {{ if eq .p1 .p2 }}active{{ end }}">
          <a href="{{ .p1.Permalink | relURL }}">{{ if .p1.IsHome }}{{ .siteTitle }}{{ else }}{{ .p1.Title }}{{ end }}</a>
        </li>
        {{ end }}
      </ol>
    </nav>
  </div>
</div>