{{/**
   * Figure
	 *
	 * Display a figure
   *
   * @version 1.0.0
   *
   * .media         - Image object 
   * .media.caption - Image caption
   * .media.image   - Image URL
   * .media.title   - Title of the image
   *
   * .page          - Parent page
   *
   * .transform     - Cloudinary transform string
	 *
   */}}

<figure>
  {{ $scratch := newScratch }}
  {{ $scratch.Set "transform" "" }}
  {{ with .transform }}
  {{ $scratch.Set "transform" . }}
  {{ end }}
  {{ if and (isset .media "image") }}
  {{ $image := .media.image }}
  <div class="img-container">
    {{ $alt := humanize (index (split (path.Base $image) ".") 0) }}
    <img 
      class="img-responsive" 
      src="{{ partial "utilities/image-url" (dict "page" .page "site" .site "url" $image "transform" ($scratch.Get "transform")) }}" 
      {{ if isset .media "title" }} title="{{ .media.title }}" {{ end }} 
      alt="{{ $alt }}"
      {{ if .media.long_description }}
        longdesc="#{{ index (split (path.Base $image) ".") 0 | urlize }}-longdesc"
      {{ end }}/>
    {{ if .media.long_description }}
      <div id="{{ index (split (path.Base $image) ".") 0 | urlize }}-longdesc" class="long-description sr-only">
        Begin long description.
        {{ .media.long_description }}
        End long description.
      </div>
    {{ end }}
  </div>
  {{ end }}
  {{ if .media.caption }}
  <figcaption>
    {{ .media.caption | safeHTML | markdownify }}
  </figcaption>
  {{ end }}
</figure>