  {{- $scratch := newScratch -}}
  {{- $scratch.Set "fontfamiliesstring" "" -}}
    {{- with .Page.Site.Data.styles.global_font -}}
    {{- $scratch.Set "fontstring" "" -}}
    {{- $scratch.Set "fontstring"  ( printf  "%s:" .font_family ) -}}
    {{- $fontFamily :=  . -}}
    {{- range $weight := .font_weights -}}
      {{- $scratch.Set "fontstring"  ( printf  "%s%s," ( $scratch.Get "fontstring" ) . ) -}}
      {{- if in $fontFamily.font_italics . -}}
        {{- $scratch.Set "fontstring"  ( printf  "%s%si," ( $scratch.Get "fontstring" ) . ) -}}
      {{- end -}}
    {{- end -}}
    {{ end }}
    {{- $scratch.Set "fontstring"  ( printf  `"%s"` (strings.TrimRight "," ($scratch.Get "fontstring") ) ) -}}
    {{- $scratch.Set "fontfamiliesstring" ( printf "%s%s," ($scratch.Get "fontfamiliesstring")  ($scratch.Get "fontstring") ) -}}

    {{- with .Page.Site.Data.styles.header_font -}}
    {{- $scratch.Set "fontstring" "" -}}
    {{- $scratch.Set "fontstring"  ( printf  "%s:" .font_family ) -}}
    {{- $fontFamily :=  . -}}
    {{- range $weight := .font_weights -}}
      {{- $scratch.Set "fontstring"  ( printf  "%s%s," ( $scratch.Get "fontstring" ) . ) -}}
      {{- if in $fontFamily.font_italics . -}}
        {{- $scratch.Set "fontstring"  ( printf  "%s%si," ( $scratch.Get "fontstring" ) . ) -}}
      {{- end -}}
    {{- end -}}
    {{ end }}
    {{- $scratch.Set "fontstring"  ( printf  `"%s"` (strings.TrimRight "," ($scratch.Get "fontstring") ) ) -}}
    {{- $scratch.Set "fontfamiliesstring" ( printf "%s%s," ($scratch.Get "fontfamiliesstring")  ($scratch.Get "fontstring") ) -}}

  <script type="text/javascript">
    //{{ $scratch.Get "fontfamiliesstring" }}
    fontFamilies = [ {{- strings.TrimRight "," ($scratch.Get "fontfamiliesstring") | safeJS -}} ];
  </script>

  <style>
    :root {
      --font-family-global: "{{- .Page.Site.Data.styles.global_font.font_family -}}", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --font-family-header: {{ with  .Page.Site.Data.styles.header_font.font_family }}"{{- replace . "+" " " -}}",{{ end }} "{{- .Page.Site.Data.styles.global_font.font_family -}}", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>