{{ $context := . }}
{{ range $index, $image := .Params.images }}
  {{ if eq $index 0 }}
    {{ $options := dict "context" $context "image" $image "transform" "w_1600"}}
    {{ $imgURL := partial "utilities/cloudinary-transform" $options }}
    <div class="hero" {{- printf "style=background-image:url(%s)" $imgURL | safeHTMLAttr -}}>
      <div class="container"> 
        <div class="hero-text">
          {{ $context.Params.hero_text | markdownify }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
