{{/**
   * Modal
	 *
	 * Display a modal
   *
   * @version 1.0.0
	 *
   */}}

<!-- Modal -->
<div class="modal fade" id="{{ .id }}" class="{{ .class }}" tabindex="-1" role="dialog" aria-labelledby="{{ .id }}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{ if .title }}
      <div class="modal-header">
        <h5 class="modal-title" id="{{ .id }}Label">{{ .title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ end }}
      <div class="modal-body">
        {{ .content | safeHTML | markdownify }}
      </div>
    </div>
  </div>
</div>