<!-- Place somewhere in the <body> of your page -->
<div id="{{ .Title | anchorize }}-slideshow" class="slideshow" tabindex="0">
  <div class="flexslider">
    <ul class="slides">
      {{ $captions := .Params.image_captions }}
      {{ range $index, $image := .Params.images }}
      <li>
          <img 
            src="{{ partial "utilities/cloudinary-transform" (dict "image" . "transform" "ar_16:9,c_fill,w_400") }}" 
            sizes="(min-width: 0px),(min-width: 768px),(min-width: 1200px),(min-width: 2200px)"
            srcset="
              {{ partial "utilities/cloudinary-transform" (dict "image" . "transform" "ar_16:9,c_fill,w_400") }} 400w, 
              {{ partial "utilities/cloudinary-transform" (dict "image" . "transform" "ar_16:9,c_fill,w_600") }} 600w,
              {{ partial "utilities/cloudinary-transform" (dict "image" . "transform" "ar_16:9,c_fill,w_1200") }} 1400w,
              {{ partial "utilities/cloudinary-transform" (dict "image" . "transform" "ar_16:9,c_fill,w_2000") }} 1600w,
            "
            alt="{{ index $captions $index }}"
          />
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="custom-navigation">
    <a href="#" class="flex-prev">
      <span class="sr-only">Previous Slide</span>
      {{ partial "icons/previous" }}
    </a>
    <a href="#" class="flex-next">
      <span class="sr-only">Next Slide</span>
      {{ partial "icons/next" }}
    </a>
    <div class="custom-controls-container"></div>
  </div>
</div>
