{{/**
   * Latest Posts widget
   *
   * widget for displaying the website's latest blog posts on a landing page
   *
   * @version 1.0.0
   */}}

{{ $page := .page }}
{{ $site := .site }}
{{ $posts := where (where .site.RegularPages "Section" "posts") ".Title" "!=" .page.Title }}
{{ if $posts }}
    <h2 class="widget-title {{ if ne .widget.widget_options.show_title true}}sr-only{{ end }}">{{ .widget.title }}</h2>
  {{ $widget := .widget }}
  {{ range first .widget.show_quantity $posts  }}
    {{ partial "components/article-summary" . }}
  {{ end }}
{{ end }}
