[submodule "assets/vendors/mathsass"]
	path = assets/vendors/mathsass
	url = https://github.com/terkel/mathsass.git
[submodule "assets/vendors/modularscale-sass"]
	path = assets/vendors/modularscale-sass
	url = https://github.com/modularscale/modularscale-sass.git
[submodule "assets/vendors/sweetalert2"]
	path = assets/vendors/sweetalert2
	url = https://github.com/sweetalert2/sweetalert2.git
[submodule "assets/vendors/FlexSlider"]
	path = assets/vendors/FlexSlider
	url = https://github.com/woocommerce/FlexSlider.git
