@import "bugo-origin-body-vars";
@import "bugo-origin-main-vars";
@import "bugo-origin-wrap-vars";

/**
 *
 * Sidebar
 *
 **/
$sidebar-margin-x:   false !default; // false | modular scale ratio
$sidebar-margin-y:   false !default; // false | modular scale ratio
$sidebar-padding-x:  false !default; // false | modular scale ratio
$sidebar-padding-y:  false !default; // false | modular scale ratio

/**
 * Pagination
 *
 **/

// * Options
$pagination-as-buttons: false;

// * Fonts - if -as-buttons option = false
$pagination-font-size: 1; // modular scale
$pagination-text-decoration: none;
$pagination-text-link-color: $global-link-color;
$pagination-text-focus-color: $global-link-focus;

// * Margin
// false | modular scale ratio
$pagination-margin-top        : false !default;
$pagination-margin-right      : false !default;
$pagination-margin-bottom     : false !default;
$pagination-margin-left       : false !default;

// * Padding
// false | modular scale ratio
$pagination-padding-top       : false !default;
$pagination-padding-right     : false !default;
$pagination-padding-bottom    : false !default;
$pagination-padding-left      : false !default;


/**
 * Pagination Items
 *
 **/


// * Margin
// false | modular scale ratio
$pagination-item-margin-top        : false !default;
$pagination-item-margin-right      : $global-margin - 4 !default;
$pagination-item-margin-bottom     : false !default;
$pagination-item-margin-left       : false !default;

// * Padding
// false | modular scale ratio
$pagination-item-padding-top       : false !default;
$pagination-item-padding-right     : false !default;
$pagination-item-padding-bottom    : false !default;
$pagination-item-padding-left      : false !default;

