/**
 * Wrap Grid
 **/

.wrap {
  // Spacing
  @include space-element(margin, $wrap-margin-x, $wrap-margin-y);
  @include space-element(padding, $wrap-padding-x, $wrap-padding-y);

  display: grid;
  grid-area: wrap;
  @include grid-gaps($wrap-column-gap, $wrap-row-gap);
  // @include ms-respond( grid-row-gap, $wrap-row-gap );
  @include responsive-property($wrap-template-areas, "grid-template-areas");
  @include responsive-property($wrap-template-columns, "grid-template-columns");

  aside {
    display: none;
  }
}

/**
 * wrap-sidebar Grid
 **/

body.sidebar .wrap {
  display: flex !important;
  flex-wrap: wrap;

  @include respond-to(md){
    flex-wrap: nowrap;
  }
  main{
    flex: 0 0 100%;
    @include respond-to(md){
      flex: 0 0 70%;
      
      // @include ms-respond(padding-right,$global-padding/2);
    }
  }

  aside {
    display: block;
    @include respond-to(md){
      flex: 0 0 30%;
      // @include ms-respond(padding-left,$global-padding/2);
      > * {
        @include ms-respond(margin-left,$global-padding);
      }
    }
  }
}
