/**
 * GLOBAL VARIABLES
 * Todo: need to work on Dark mode
 **/

/**
 * Spacing
 **/

$global-margin: 2 !default; // false | modular scale ratio
$global-padding: 2 !default; // false | modular scale ratio

/**
 * Font
 **/

$global-font-color: $black !default;
$global-font-color-dark: $global-font-color !default;
$global-font: var(--font-family-global) !default; // grab the font family from the forestry output
$global-font-size: 0 !default; // modular scale
$global-line-height: 1.75 !default;

/**
 * .small
 **/

$global-small: $global-font-size - 1 !default;
$global-small-line-height: 1.2 !default;


/**
 * Links
 **/

$global-link-weight: normal !default;
$global-link-color: $primary !default;
$global-link-color-dark: $global-link-color !default;
$global-link-focus: lighten($global-link-color, 20%) !default;
$global-link-color-dark: $global-link-color !default;
$global-link-focus-dark: $global-link-focus !default;


/**
 * Global Blocks
 **/

$global-background-color: $white !default;
$global-background-color-dark: $global-background-color !default;

$global-menu-bg: $light !default;
$global-menu-bg-dark: $global-menu-bg !default;

/**
 * Global Design Features
 * * Your theme may not use these
 **/

$global-dark-mode: false !default; // enables dark mode variables
$dark-mode: $global-dark-mode !default; // DEPRECATED: enables dark mode variables

$global-radius: 2px !default; // false | modular scale ratio
$global-shadow: 1px 1px 2px transparentize($dark, 0.2) !default;

/**
 * Global Icons
 * * If your theme uses icons
 **/

$global-icon-size: 2 !default;
$global-icon-size-sm: 1 !default;
$global-icon-size-lg: 4 !default;
/**
 * BUGO ARTICLE VARIABLES
 **/

// * Margin
// * false | modular scale ratio

$article-margin-top:        false !default; // false | modular scale ratio
$article-margin-right:      false !default; // false | modular scale ratio
$article-margin-bottom:     $global-margin !default; // false | modular scale ratio
$article-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$article-padding-top:       false !default; // false | modular scale ratio
$article-padding-bottom:    false !default; // false | modular scale ratio
$article-padding-right:     false !default; // false | modular scale ratio
$article-padding-left:      false !default; // false | modular scale ratio


/**
 * Article Summary
 **/

// * Margin
// * false | modular scale ratio

$summary-margin-top:        false !default; // false | modular scale ratio
$summary-margin-right:      false !default; // false | modular scale ratio
$summary-margin-bottom:     $global-margin !default; // false | modular scale ratio
$summary-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$summary-padding-top:       false !default; // false | modular scale ratio
$summary-padding-bottom:    false !default; // false | modular scale ratio
$summary-padding-right:     false !default; // false | modular scale ratio
$summary-padding-left:      false !default; // false | modular scale ratio


// * Grid

$summary-column-gap:        $global-padding !default; // false | modular scale ratio
$summary-row-gap:           false !default;  // false | modular scale ratio
$summary-xs-template-areas:
  "thumb"
  "head"
  "time"
  "tax"
  "summ" !default;


$summary-sm-template-areas: $summary-xs-template-areas !default;
$summary-md-template-areas: $summary-xs-template-areas !default;
$summary-lg-template-areas: $summary-xs-template-areas !default;
$summary-xl-template-areas: $summary-xs-template-areas !default;
$summary-xxl-template-areas: $summary-xs-template-areas !default;
$summary-xxxl-template-areas: $summary-xs-template-areas !default;

$summary-xs-template-columns: repeat( 1, 1fr ) !default;
$summary-sm-template-columns: $summary-xs-template-columns !default;
$summary-md-template-columns: $summary-xs-template-columns !default;
$summary-lg-template-columns: $summary-xs-template-columns !default;
$summary-xl-template-columns: $summary-xs-template-columns !default;
$summary-xxl-template-columns: $summary-xs-template-columns !default;
$summary-xxxl-template-columns: $summary-xs-template-columns !default;

$summary-template-areas: (
  xs: $summary-xs-template-areas,
  sm: $summary-sm-template-areas,
  md: $summary-md-template-areas,
  lg: $summary-lg-template-areas,
  xl: $summary-xl-template-areas,
  xxl: $summary-xxl-template-areas,
  xxxl: $summary-xxxl-template-areas
);

$summary-template-columns: (
  xs: $summary-xs-template-columns,
  sm: $summary-sm-template-columns,
  md: $summary-md-template-columns,
  lg: $summary-lg-template-columns,
  xl: $summary-xl-template-columns,
  xxl: $summary-xxl-template-columns,
  xxxl: $summary-xxxl-template-columns
);

// * Child Elements

$summary-header-margin: false !default;
$summary-thumb-margin: false !default;
$summary-summary-margin-top: $summary-column-gap !default; // false | modular scale ratio
/**
 * Breadcrumbs
 **/

// * Fonts
$breadcrumbs-font-size         : 0.5; // modular scale
$breadcrumbs-font-weight       : normal;
$breadcrumbs-active-font-weight: bold;

// * Breadcrumb Separator
$breadcrumbs-char              : "/\00a0" !default;

// * Breadcrumb Truncation
$breadcrumbs-max-chars         : (
  xs                           : 35ch,
  sm                           : 40ch,
  md                           : 45ch,
  lg                           : 50ch,
  xl                           : 60ch,
  xxl                          : 70ch,
  xxxl                         : 80ch
) !default;

// * Margin
// false | modular scale ratio
$breadcrumbs-margin-top        : $global-margin !default;
$breadcrumbs-margin-right      : false !default;
$breadcrumbs-margin-bottom     : $global-margin !default;
$breadcrumbs-margin-left       : false !default;

// * Padding
// false | modular scale ratio
$breadcrumbs-padding-top       : false !default;
$breadcrumbs-padding-bottom    : false !default;
$breadcrumbs-padding-right     : false !default;
$breadcrumbs-padding-left      : false !default;

/**
  * BUGO FONT AWESOME VARIABLES
  **/


  $bugo-icon-size: $global-icon-size;
  $bugo-icon-size-sm: $global-icon-size-sm;
  $bugo-icon-size-lg: $global-icon-size-lg;
/**
 * Branding
 **/

$branding-font-size          : 2 !default; // modular scale
$branding-color              : $white !default; // text and svg fill if svg fills with currentColor
$branding-color-dark         : $white !default;// text and svg fill if svg fills with currentColor

$header-brand-position       : relative !default;
$header-brand-width          : 100% !default;
$header-brand-z              : 100 !default;
$header-brand-image-width    : 100% !default;
$header-brand-image-max-width: 100% !default;

/**
 * Main Navigation
 * TODO comments
 **/

// * Light Mode
$main-menu-color         : $white !default;
$main-menu-dropdown-bg   : $primary !default;
$main-menu-dropdown-color: $white !default;

// * Dark Mode
$main-menu-color-dark         : $white !default;
$main-menu-dropdown-bg-dark   : lighten($dark, 10%) !default;
$main-menu-dropdown-color-dark: $white !default;

// * Fonts
$main-menu-font:          1 !default; // modular scale
$main-menu-dropdown-font: 0 !default; // modular scale


$main-menu-margin:           0 -1rem 0 0 !default;
$main-menu-padding:          0 !default;
$main-menu-color:            $white !default;
$main-menu-color-dark:       $white !default;

$main-menu-link-margin:      0 0.5rem !default;
$main-menu-link-padding:     0.25rem 0.5rem !default;

$main-menu-dropdown-bg:          $global-menu-bg !default;
$main-menu-dropdown-color:       $black !default;
$main-menu-dropdown-bg-dark:     lighten( $dark, 10% ) !default;
$main-menu-dropdown-color-dark:  $white !default;

$main-menu-margin-x:   false !default; // false | modular scale ratio
$main-menu-margin-y:   false !default; // false | modular scale ratio
$main-menu-padding-x:  false !default; // false | modular scale ratio
$main-menu-padding-y:  false !default; // false | modular scale ratio

$main-menu-justify: flex-end !default;
$main-menu-whitespace: normal !default;


/**
 * Mobile Navigation
 **/

 $mobile-nav-position: absolute !default;
 $mobile-nav-button-width: auto !default;
 $mobile-nav-button-height: auto !default;
 $mobile-nav-icon-width: 2 !default;
 $mobile-nav-icon-height: 2 !default;

 $mobile-nav-margin-x:   auto !default; // false | modular scale ratio
 $mobile-nav-margin-y:   false !default; // false | modular scale ratio
 $mobile-nav-padding-x:  -2 !default; // false | modular scale ratio
 $mobile-nav-padding-y:  -2 !default; // false | modular scale ratio

 $mobile-nav-bg: $global-menu-bg !default;

// * Search Form
// TODO comments & check font size vars

$header-search-font-size                   : 0 !default; //modularscale raito
$header-search-field-margin                : 0 0 0 0.5rem !default;
$header-search-field-padding               : 0.25rem 0.5rem !default;
$header-search-button-margin               : 0 0 0 0.5rem !default;
// ? is this being used? or is it $header-search-font-size?
$header-search-font: -2 !default; // modular scale ratio


/**
 * Site Header
 * * Part of the body element's css grid
 * * Edit positioning in /variables/elements/_body.scss
 * TODO prefix each $header to $site-header, so we can modify the header HTML element separately
 **/


// * Fonts

$header-link-weight                        : normal !default;


// * Light Mode

$header-color                              : $light !default;
$header-bg                                 : transparent !default;
$header-link                               : $global-link-color !default;
$header-bg                                 : $dark !default;
$header-text-color                         : $light !default;
$header-link-color                         : $light !default;
$header-link-focus                         : $global-link-focus !default;


// * Dark Mode

$header-color-dark                         : $light !default;
$header-bg-dark                            : transparent !default;
$header-link-dark                          : $global-link-color-dark !default;
$header-bg-dark                            : $dark !default;
$header-text-color-dark                    : $light !default;
$header-link-color-dark                    : $light !default;
$header-link-focus-dark                    : $global-link-focus !default;

// Dimensions
$header-width                              : 100% !default;
$header-height                             : auto !default;

$header-margin-x                           : false !default; // false | modular scale ratio
$header-margin-y                           : false !default; // false | modular scale ratio
$header-padding-x                          : false !default; // false | modular scale ratio
$header-padding-y                          : false !default; // false | modular scale ratio

// Positioning
$header-position                           : absolute !default;
$header-top                                : 0 !default;
$header-right                              : 0 !default;
$header-bottom                             : auto !default;
$header-left                               : 0 !default;
$header-z                                  : 2000 !default;


/**
 * Header Navigation Container
 * * wrapper around all navigation4
 **/


// * Light Mode

$header-nav-container-bg                   : $header-bg !default;


// * Dark Mode

$header-nav-container-bg-dark              : $header-bg-dark !default;

// * CSS Grid
$header-nav-container-bg                   : $header-bg !default;
$header-nav-container-bg-dark              : $header-bg-dark !default;

$header-nav-container-margin-x             : auto !default; // false | modular scale ratio
$header-nav-container-margin-y             : false !default; // false | modular scale ratio
$header-nav-container-padding-x            : false !default; // false | modular scale ratio
$header-nav-container-padding-y            : 1 !default; // false | modular scale ratio

$header-nav-container-column-gap           : false !default; // false | modular scale ratio
$header-nav-container-row-gap              : 2 !default;  // false | modular scale ratio

$header-nav-container-xs-template-areas    :
  "brand brand brand ... ... ... ... ... ... mbutton mbutton mbutton" !default;
$header-nav-container-sm-template-areas    : $header-nav-container-xs-template-areas !default;
$header-nav-container-md-template-areas    :
  "brand brand search search search search search search search search search search"
  "brand brand nmain nmain nmain nmain nmain nmain nmain nmain nmain nmain" !default;
$header-nav-container-lg-template-areas    : $header-nav-container-md-template-areas;
$header-nav-container-xl-template-areas    : $header-nav-container-md-template-areas !default;
$header-nav-container-xxl-template-areas   : $header-nav-container-md-template-areas !default;
$header-nav-container-xxxl-template-areas  : $header-nav-container-md-template-areas !default;

$header-nav-container-xs-template-columns  : repeat( 12, 1fr ) !default;
$header-nav-container-sm-template-columns  : $header-nav-container-xs-template-columns !default;
$header-nav-container-md-template-columns  : $header-nav-container-xs-template-columns !default;
$header-nav-container-lg-template-columns  : $header-nav-container-xs-template-columns !default;
$header-nav-container-xl-template-columns  : $header-nav-container-xs-template-columns !default;
$header-nav-container-xxl-template-columns : $header-nav-container-xs-template-columns !default;
$header-nav-container-xxxl-template-columns: $header-nav-container-xs-template-columns !default;
/**
 * BUGO NAVIGATION Variables
 * horizontal and vertical navigation
 **/

/**
 * Dropdowns
 **/

 $dropdown-position        : absolute !default;
 $dropdown-width           : auto !default;
 $dropdown-whitespace      : nowrap !default;


 // * Margin
 // false | modular scale ratio

 $dropdown-margin-top      : false !default; // false | modular scale ratio
 $dropdown-margin-right    : false !default; // false | modular scale ratio
 $dropdown-margin-bottom   : false !default; // false | modular scale ratio
 $dropdown-margin-left     : false !default; // false | modular scale ratio


 // * Padding
 // false | modular scale ratio

 $dropdown-padding-top     : -2 !default; // false | modular scale ratio
 $dropdown-padding-right   : -2 !default; // false | modular scale ratio
 $dropdown-padding-bottom  : -2 !default; // false | modular scale ratio
 $dropdown-padding-left    : -2 !default; // false | modular scale ratio


 // * Positioning

 $dropdown-position        : absolute !default;
 $dropdown-top             : 100% !default;
 $dropdown-right           : auto !default;
 $dropdown-bottom          : auto !default;
 $dropdown-left            : 50% !default;
 $dropdown-z               : -1 !default;


 // * Colors

 $dropdown-radius          : 0 !default; // CSS unit
 $dropdown-bg              : $global-menu-bg !default;
 $dropdown-color           : $white !default;
 $dropdown-link            : $global-link-color !default;
 $dropdown-opacity         : 0 !default; // value 0 - 1
 $dropdown-shadow          : $global-shadow !default;


 // * Transition

 $dropdown-easing          : cubic-bezier(0.250, 0.460, 0.450, 0.940) !default;
 $dropdown-transition      : all 0.5s $dropdown-easing !default;
 $dropdown-transform-origin: 0 -1rem -1rem !default;
 $dropdown-transform       : translateX( -50% ) translateY( 1rem ) rotateX( 90deg ) !default;


 // * Open

 $dropdown-open-transform  : translateX( -50% ) translateY( 1rem ) rotateX( 0 ) !default;
 $dropdown-open-opacity    : 1 !default;


 // * Link Margin
 // false | modular scale ratio

 $dropdown-link-margin-x   : -2 !default; // false | modular scale ratio
 $dropdown-link-margin-y   : -4 !default; // false | modular scale ratio

 // * Link Padding
 // false | modular scale ratio

 $dropdown-link-padding-x  : -2 !default; // false | modular scale ratio
 $dropdown-link-padding-y  : -4 !default; // false | modular scale ratio

/**
 * BUGO SEARCH VARIABLES
 **/

/**
 * BUGO SHARE VARIABLES
 **/

/**
  * SPACING
  * * use a value of: false | modular scale
  * * false value parses to 0
  **/

  $share-margin-top: 2 !default; //
  $share-margin-right: false !default; // false | modular scale
  $share-margin-bottom: 2 !default; // false | modular scale
  $share-margin-left: false !default; // false | modular scale

  $share-padding-top: false !default; // false | modular scale
  $share-padding-right: false !default; // false | modular scale
  $share-padding-bottom: false !default; // false | modular scale
  $share-padding-left: false !default; // false | modular scale

  $share-link-margin-top: false !default; //
  $share-link-margin-right: false !default; // false | modular scale
  $share-link-margin-bottom: flase !default; // false | modular scale
  $share-link-margin-left: -5 !default; // false | modular scale

  $share-link-padding-top: false !default; // false | modular scale
  $share-link-padding-right: false !default; // false | modular scale
  $share-link-padding-bottom: false !default; // false | modular scale
  $share-link-padding-left: false !default; // false | modular scale


  $share-icon-width: 1;
  $share-icon-fill: $primary;
  $share-icon-fill-dark: $primary;

  $share-modal-bg: transparentize($black,.5);/**
 * BUGO TYPOGRAPHY
 * Add typography based on modular scale
 * * modular scale is relative to the base font size
 * * Modlular scale value is indexed from 0, so +/- values are accepted
 * * +/-N returns calc();
 * * False returns 0;
 * TODO: need to review
 **/

/**
 * Headings
 * * you can modify most heading attributes here
 **/

// Fonts & Font Styling
$heading-font:                $global-font !default;
$heading-line-height:         1.2 !default;
$heading-font-weight:         700 !default;
$heading-text-transform:      uppercase !default;

// Colors
$heading-color:               $primary !default;
$heading-bg:                  transparent !default;
$heading-link-color:          $global-link-color !default;
$heading-link-focus:          $global-link-focus !default;

// Dark Mode
$heading-color-dark:          $primary !default;
$heading-bg-dark:             transparent !default;
$heading-link-color-dark:     $global-link-color !default;
$heading-link-focus-dark:     $global-link-focus !default;

// Heading Font Sizes using Modular Scale
$heading-1: ( xs: 5, sm: 5, md: 5, lg: 5, xl: 5, xxl: 5, xxxl: 5 ) !default;
$heading-2: ( xs: 4, sm: 4, md: 4, lg: 4, xl: 4, xxl: 4, xxxl: 4 ) !default;
$heading-3: ( xs: 3, sm: 3, md: 3, lg: 3, xl: 3, xxl: 3, xxxl: 3 ) !default;
$heading-4: ( xs: 2, sm: 2, md: 2, lg: 2, xl: 2, xxl: 2, xxxl: 2 ) !default;
$heading-5: ( xs: 1, sm: 1, md: 1, lg: 1, xl: 1, xxl: 1, xxxl: 1 ) !default;
$heading-6: ( xs: 0, sm: 0, md: 0, lg: 0, xl: 0, xxl: 0, xxxl: 0 ) !default;

// Heading Font Sizes using Modular Scale
$display-1: ( xs: 5, sm: 5, md: 5, lg: 5, xl: 5, xxl: 5, xxxl: 5 ) !default;
$display-2: ( xs: 4, sm: 4, md: 4, lg: 4, xl: 4, xxl: 4, xxxl: 4 ) !default;
$display-3: ( xs: 3, sm: 3, md: 3, lg: 3, xl: 3, xxl: 3, xxxl: 3 ) !default;
$display-4: ( xs: 2, sm: 2, md: 2, lg: 2, xl: 2, xxl: 2, xxxl: 2 ) !default;
$display-5: ( xs: 1, sm: 1, md: 1, lg: 1, xl: 1, xxl: 1, xxxl: 1 ) !default;
$display-6: ( xs: 0, sm: 0, md: 0, lg: 0, xl: 0, xxl: 0, xxxl: 0 ) !default;

// scale of the heading sizes above. 0 - 1
$heading-sidebar: 0.66 !default;


// Spacing
$heading-margin-top:          false !default; // false | modular scale ratio
$heading-margin-right:        false !default; // false | modular scale ratio
$heading-margin-bottom:       $global-margin / 2 !default; // false | modular scale ratio
$heading-margin-left:         false !default; // false | modular scale ratio

$heading-padding-top:         false !default; // false | modular scale ratio
$heading-padding-bottom:      false !default; // false | modular scale ratio
$heading-padding-right:       false !default; // false | modular scale ratio
$heading-padding-left:        false !default; // false | modular scale ratio


 /**
 * Paragraphs
 **/

// * Margin
// * value: false | modular scale ratio
$paragraph-margin-top:      false !default;
$paragraph-margin-right:    false !default;
$paragraph-margin-bottom:   $global-margin !default;
$paragraph-margin-left:     false !default;

// * Padding
// * value: false | modular scale ratio
$paragraph-padding-top:     false !default;
$paragraph-padding-bottom:  false !default;
$paragraph-padding-right:   false !default;
$paragraph-padding-left:    false !default;

/**
 * BUGO WIDGETS VARIABLES
 * TODO add all widgets to this directory
 * TODO add spacing rules to each widget
 * TODO doesn't seem to work. Check widgets styles to make sure vars are being used
 **/

/* Latest Posts */

$widgets-margin-x        : false !default; // false | modular scale ratio
$widgets-margin-y        : false !default; // false | modular scale ratio
$widgets-padding-x       : false !default; // false | modular scale ratio
$widgets-padding-y       : false !default; // false | modular scale ratio

$widget-margin-x         : false !default; // false | modular scale ratio
$widget-margin-y         : 2 !default; // false | modular scale ratio
$widget-padding-x        : false !default; // false | modular scale ratio
$widget-padding-y        : false !default; // false | modular scale ratio

$widget-font-size        : 0 !default; // modular scale ratio

$latest-thumbnail-display: widget !default;
$latest-header-display   : widget !default;
$latest-summary-display  : widget !default;