/**
 * Pagination
 *
 **/

$pagination-as-buttons:       true !default;
$pagination-font-size:        1 !default; // modular scale
$pagination-text-decoration:  none !default;
$pagination-text-link-color:  $global-link-color !default;
$pagination-text-focus-color: $global-link-focus !default;