.unstyled-list, 
.list-unstyled {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    a {
      display: block;
      @include ms-respond( margin-right, 1 );
    }
  }
}

.no-padding {
  padding: 0 !important;
}

/* Responsive Embeds */
.embed-responsive {
  width: 100%;
  .embed-responsive-item {
    width: 100%;
  }
}

/* Responsive Images*/
.img-responsive {
  max-width: 100%;
  height: auto;
}

.no-container {
  .container {
    max-width: none;
  }
}

// text alignment
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}