.flex {
  display: flex;
}

.unstyled-list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    a {
      display: block;
      @include ms-respond(margin-right,1);
    }
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.no-container {
  .container {
    max-width: none !important;
  }
}

.no-padding {
  padding: 0 !important;
}

/* Responsive Embeds */
.embed-responsive {
  width: 100%;
  .embed-responsive-item {
    width: 100%;
  }
}

/* Responsive Images */
.img-responsive {
  max-width: 100%;
  height: auto;
}