* {
  &:focus{
    outline: none;
  }
}

.tabbing * {
  &:focus{
    outline: 1px solid black;
  }
}

.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.25s;    
  margin: 0 auto;
  z-index: 1000;

  &:focus {
    transform: translateX(-50%) translateY(1rem);
  } 
}

.sr-only {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0;
  padding: 0;
}