/**
 * Global Variabls
 * * All global variables except color
 * TODO: move all global here
 *
 **/

/**
 * Global Spacing
 **/

    $global-margin:   2 !default; // false | modular scale ratio
    $global-padding:  2 !default;  // false | modular scale ratio

/**
 * Global Effects
 **/

    $global-radius:   2px !default; // false | modular scale ratio
    $global-shadow:   1px 1px 2px transparentize($dark,0.2) !default;
