/**
 *
 * Global Spacing
 *
 * Spacing is determined by using modular scale based on the global font size.
 * To edit the scale, edit /assets/sass/utils/variables/_modularscale.scss
 *
 **/

$global-margin:   2 !default;
$global-padding:  2 !default;
$global-radius:   2px !default;
$global-shadow:   1px 1px 2px transparentize($dark,0.2) !default;

// /* Breakpoints */
// $breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
//   xxxl: 2200px
//  ) !default !default;

// $container-max-widths : (
//   xs: calc( 100% - 36px ),
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1164px,
//   xxl: 1360px,
//   xxxl: 2100px
//  ) !default !default;


:root {
  @include ms-respond( --global-margin, 4 );
  @include ms-respond( --global-padding, 4 );
  @include ms-respond( --heading-margin-top, 4 );
  @include ms-respond( --heading-margin-bottom, 2 );
}

/**
 * Global Typography
 **/
$global-font:               var( --font-family-global ) !default; // grab the font family from the forestry output
$global-font-color:         $dark !default;
$global-font-color-dark:    $light !default;
$global-link-color:         $accent-2 !default;
$global-link-dark:          $white !default;
$global-link-focus:         lighten( $accent-2, 20% ) !default;
$global-link-weight:        bold !default;
$global-font-size:          0 !default; // modular scale
$global-line-height:        1.75 !default;
$global-small:              $global-font-size - 1 !default;
$global-small-line-height:  1.2 !default;

/**
 *
 * Navigation
 *
 **/
$global-menu-bg: lighten($accent-1, 0.5) !default;