/**
 * TYPOGRAPHY
 * * All typography variables go here.
 * TODO: move all typography varaibles here
 **/


/**
 * Global Typography
 **/

    $global-font:               var( --font-family-global ) !default; // grab the font family from the forestry output
    $global-font-size:          0 !default; // modular scale
    $global-small:              $global-font-size - 1 !default;
    $global-small-line-height:  1.2 !default;
    $global-line-height:        1.75 !default;
    $global-link-weight:        normal !default;

/**
 * Headings
 **/

    $heading-font:            var( --font-family-header ) !default;
    $heading-line-height:     1.2 !default;
    $heading-font-weight:     400 !default;

/**
 * Branding
 **/

   $branding-font-size:       2 !default; // modular scale

/**
 * Main Menu
 **/

    $main-menu-font:          1 !default; // modular scale
    $main-menu-dropdown-font: 0 !default; // modular scale