/**
 *  Spacing
 *
 *  * All margin and padding is stored here
 *  * Use either false for 0 margin or modular scale
 *  * In modular scale 0 is equal to the base font-size;
 *
 *  TODO: add all spacing here
 **/

/**
 * Breadcrumbs
 **/

    $breadcrumbs-margin-top:      $global-margin !default; // false | modular scale ratio
    $breadcrumbs-margin-right:    false !default; // false | modular scale ratio
    $breadcrumbs-margin-bottom:   $global-margin !default; // false | modular scale ratio
    $breadcrumbs-margin-left:     false !default; // false | modular scale ratio

    $breadcrumbs-padding-top:     false !default; // false | modular scale ratio
    $breadcrumbs-padding-bottom:  false !default; // false | modular scale ratio
    $breadcrumbs-padding-right:   false !default; // false | modular scale ratio
    $breadcrumbs-padding-left:    false !default; // false | modular scale ratio

/**
 * Headings
 **/

   $heading-margin-top:          false !default; // false | modular scale ratio
   $heading-margin-right:        false !default; // false | modular scale ratio
   $heading-margin-bottom:       $global-margin / 2 !default; // false | modular scale ratio
   $heading-margin-left:         false !default; // false | modular scale ratio

   $heading-padding-top:         false !default; // false | modular scale ratio
   $heading-padding-bottom:      false !default; // false | modular scale ratio
   $heading-padding-right:       false !default; // false | modular scale ratio
   $heading-padding-left:        false !default; // false | modular scale ratio


/**
 * Article Summary
 **/

    $summary-margin-top:        false !default; // false | modular scale ratio
    $summary-margin-right:      false !default; // false | modular scale ratio
    $summary-margin-bottom:     $global-margin !default; // false | modular scale ratio
    $summary-margin-left:       false !default; // false | modular scale ratio

    $summary-padding-top:       false !default; // false | modular scale ratio
    $summary-padding-bottom:    false !default; // false | modular scale ratio
    $summary-padding-right:     false !default; // false | modular scale ratio
    $summary-padding-left:      false !default; // false | modular scale ratio

    $summary-column-gap:        2 !default; // false | modular scale ratio
    $summary-row-gap:           false !default;  // false | modular scale ratio

    $summary-header-margin: false !default;
    $summary-thumb-margin: false !default;
    $summary-summary-margin-top: $summary-column-gap !default; // false | modular scale ratio

/**
 * Paragraphs
 **/

    $paragraph-margin-top:      false !default; // false | modular scale ratio
    $paragraph-margin-right:    false !default; // false | modular scale ratio
    $paragraph-margin-bottom:   $global-margin !default; // false | modular scale ratio
    $paragraph-margin-left:     false !default; // false | modular scale ratio

    $paragraph-padding-top:     false !default; // false | modular scale ratio
    $paragraph-padding-bottom:  false !default; // false | modular scale ratio
    $paragraph-padding-right:   false !default; // false | modular scale ratio
    $paragraph-padding-left:    false !default; // false | modular scale ratio


/**
* Block Quotes
**/

    $blockquote-margin-top:      false !default; // false | modular scale ratio
    $blockquote-margin-right:    false !default; // false | modular scale ratio
    $blockquote-margin-bottom:   $global-margin !default; // false | modular scale ratio
    $blockquote-margin-left:     false !default; // false | modular scale ratio

    $blockquote-padding-top:     1 !default; // false | modular scale ratio
    $blockquote-padding-bottom:  1 !default; // false | modular scale ratio
    $blockquote-padding-right:   1 !default; // false | modular scale ratio
    $blockquote-padding-left:    1 !default; // false | modular scale ratio

/**
* Code Blocks
**/

    $code-margin-top:            false !default; // false | modular scale ratio
    $code-margin-right:          false !default; // false | modular scale ratio
    $code-margin-bottom:         $global-margin !default; // false | modular scale ratio
    $code-margin-left:           false !default; // false | modular scale ratio

    $code-padding-top:           1 !default; // false | modular scale ratio
    $code-padding-bottom:        1 !default; // false | modular scale ratio
    $code-padding-right:         1 !default; // false | modular scale ratio
    $code-padding-left:          1 !default; // false | modular scale ratio

/**
 * Messages
 **/

    $message-margin-top:     2; // flase | modular scale
    $message-margin-bottom:  2; // false | modular scale
    $message-margin-left:    false; // flase | modular scale
    $message-margin-right:   false; // false | modular scale

    $message-padding-top:    0; // flase | modular scale
    $message-padding-bottom: 0; // false | modular scale
    $message-padding-left:   0; // flase | modular scale
    $message-padding-right:  0; // false | modular scale