$paragraph-margin-top:      false !default; // false | modular scale ratio
$paragraph-margin-right:    false !default; // false | modular scale ratio
$paragraph-margin-bottom:   $global-margin !default; // false | modular scale ratio
$paragraph-margin-left:     false !default; // false | modular scale ratio

$paragraph-padding-top:     false !default; // false | modular scale ratio
$paragraph-padding-bottom:  false !default; // false | modular scale ratio
$paragraph-padding-right:   false !default; // false | modular scale ratio
$paragraph-padding-left:    false !default; // false | modular scale ratio

$blockquote-margin-top:      false !default; // false | modular scale ratio
$blockquote-margin-right:    false !default; // false | modular scale ratio
$blockquote-margin-bottom:   $global-margin !default; // false | modular scale ratio
$blockquote-margin-left:     false !default; // false | modular scale ratio

$blockquote-padding-top:     1 !default; // false | modular scale ratio
$blockquote-padding-bottom:  1 !default; // false | modular scale ratio
$blockquote-padding-right:   1 !default; // false | modular scale ratio
$blockquote-padding-left:    1 !default; // false | modular scale ratio


$pre-bg:              darken( $light, 5% ) !default;
$pre-margin-top:      false !default; // false | modular scale ratio
$pre-margin-right:    false !default; // false | modular scale ratio
$pre-margin-bottom:   $global-margin !default; // false | modular scale ratio
$pre-margin-left:     false !default; // false | modular scale ratio

$pre-padding-top:     1 !default; // false | modular scale ratio
$pre-padding-bottom:  1 !default; // false | modular scale ratio
$pre-padding-right:   1 !default; // false | modular scale ratio
$pre-padding-left:    1 !default; // false | modular scale ratio