
/**
 * Breadcrumbs
 **/

    $breadcrumbs-char: "/\00a0" !default;

    $breadcrumbs-max-chars: (
      xs: 35ch,
      sm: 40ch,
      md: 45ch,
      lg: 50ch,
      xl: 60ch,
      xxl: 70ch,
      xxxl: 80ch
    ) !default;

/**
 * Buttons
 **/

    $button-radius:               $global-radius !default;

/**
 * Thumbnails
 **/

    $thumbnail-scale-on-hover: true !default;


/**
 * Share Buttons
 **/

    $button-share-margin:          0 !default;
    $button-share-padding:         0 !default;
    $button-share-font-size:       1 !default; //modularscale ratio
    $button-share-icon-width:      2 !default; //modularscale raito
    $button-share-link-margin:     0 0.125rem !default;
    $button-share-link-padding:    0.125rem !default;
    $button-share-icon-fill:       $secondary;
    $button-share-icon-fill-dark:  $secondary;
    $button-share-text-color:      $primary;

/**
 * Slideshow
 **/

    $slideshow-margin: var( --global-margin ) 0 !default;
    $slideshow-padding: 0 !default;
    $slideshow-controls-size: 2rem !default;
    $slideshow-controls-bg: $dark !default;
    $slideshow-controls-color: $secondary !default;
    $slideshow-controls-shadow: 1px 1px 3px $dark !default;
    $slideshow-inidicator-size: 1rem !default;
    $slideshow-indicator-bg:        $dark !default;
    $slideshow-indicator-highlight: $secondary !default;

/**
 * Forms
 **/

    $form-font-size: 1 !default; //modularscale ratio
    $form-margin: 0 !default;
    $form-padding: 0 !default;

    $field-font-size: 1 !default; // modularscale raito
    $field-margin: 0 !default;
    $field-padding: 0.5em 0.6em !default;
    $field-border: 1px solid #ccc !default;
    $field-box-shadow: inset 0 1px 3px #ddd !default;
    $field-border-radius: $global-radius !default;
    $field-border-color: #ccc !default;
    $field-focus-color: #129FEA !default;
    $field-background: #eaeded !default;
