/**
 *
 * Article Summary
 *
 **/
$asum-margin-top:      false; // false | modular scale ratio
$asum-margin-right:    false; // false | modular scale ratio
$asum-margin-bottom:   $global-margin * 1; // false | modular scale ratio
$asum-margin-left:     false; // false | modular scale ratio

$asum-padding-top:     false; // false | modular scale ratio
$asum-padding-bottom:  false; // false | modular scale ratio
$asum-padding-right:   false; // false | modular scale ratio
$asum-padding-left:    false; // false | modular scale ratio

$asum-column-gap: 2; // false | modular scale ratio
$asum-row-gap: false;  // false | modular scale ratio
$asum-xs-template-areas:
  "thumb"
  "head"
  "time"
  "tax"
  "summ";
$asum-sm-template-areas: $asum-xs-template-areas;
$asum-md-template-areas: $asum-xs-template-areas;
$asum-lg-template-areas: $asum-xs-template-areas;
$asum-xl-template-areas: $asum-xs-template-areas;
$asum-xxl-template-areas: $asum-xs-template-areas;
$asum-xxxl-template-areas: $asum-xs-template-areas;

$asum-xs-template-columns: repeat( 1, 1fr );
$asum-sm-template-columns: $asum-xs-template-columns;
$asum-md-template-columns: $asum-xs-template-columns;
$asum-lg-template-columns: $asum-xs-template-columns;
$asum-xl-template-columns: $asum-xs-template-columns;
$asum-xxl-template-columns: $asum-xs-template-columns;
$asum-xxxl-template-columns: $asum-xs-template-columns;

$asum-header-margin: false;
$asum-thumb-margin: false;
$asum-summary-margin-top: $asum-column-gap; // false | modular scale ratio

/**
 *
 * Breadcrumbs
 *
 **/
$breadcrumbs-margin-top:      $global-margin; // false | modular scale ratio
$breadcrumbs-margin-right:    false; // false | modular scale ratio
$breadcrumbs-margin-bottom:   $global-margin; // false | modular scale ratio
$breadcrumbs-margin-left:     false; // false | modular scale ratio

$breadcrumbs-padding-top:     false; // false | modular scale ratio
$breadcrumbs-padding-bottom:  false; // false | modular scale ratio
$breadcrumbs-padding-right:   false; // false | modular scale ratio
$breadcrumbs-padding-left:    false; // false | modular scale ratio

$breadcrumbs-char: "/\00a0";

$breadcrumbs-max-chars: (
  xs: 35ch,
  sm: 40ch,
  md: 45ch,
  lg: 50ch,
  xl: 60ch,
  xxl: 70ch,
  xxxl: 80ch
);

/**
 *
 * Buttons
 *
 **/


$button-radius:               $global-radius;
$button-default-bg:           $dark;
$button-default-color:        $light;
$button-default-bg-dark:      $light;
$button-default-color-dark:   $dark;

/**
 *
 * Thumbnails
 *
 **/

 $thumbnail-scale-on-hover: true;


/**
 * Share Buttons
 **/
$share-margin:        0;
$share-padding:       0;
$share-font-size:     2; //modularscale ratio
$share-icon-width:    3; //modularscale raito
$share-link-margin:   0 0.125rem;
$share-link-padding:  0.125rem;

/**
 * Slideshow
 **/
$sl-margin: var( --global-margin ) 0;
$sl-padding: 0;
$sl-controls-size: 2rem;
$sl-controls-bg: $dark;
$sl-controls-color: $secondary;
$sl-controls-shadow: 1px 1px 3px $dark;
$sl-inidicator-size: 1rem;
$sl-indicator-bg:        $dark;
$sl-indicator-highlight: $secondary;

/**
 * Forms
 **/

 $form-font-size: 1; //modularscale ratio
 $form-margin: 0;
 $form-padding: 0;

 $field-font-size: 1; // modularscale raito
 $field-margin: 0;
 $field-padding: 0.5em 0.6em;
 $field-border: 1px solid #ccc;
 $field-box-shadow: inset 0 1px 3px #ddd;
 $field-border-radius: $global-radius;
 $field-border-color: #ccc;
 $field-focus-color: #129FEA;
 $field-background: #eaeded;
