/**
 *
 * Blocks
 *
 **/
$blocks-container-margin-x: false !default; // false | modular scale ratio
$blocks-container-margin-y: false !default; // false | modular scale ratio
$blocks-container-padding-x: false !default; // false | modular scale ratio
$blocks-container-padding-y: false !default; // false | modular scale ratio

$block-margin-x: false !default; // false | modular scale ratio
$block-margin-y: false !default; // false | modular scale ratio
$block-padding-x: false !default; // false | modular scale ratio
$block-padding-y: false !default; // false | modular scale ratio


$block-title-margin-x: false !default;
$block-title-margin-y: false !default;
$block-title-padding-x: false !default;
$block-title-padding-y: false !default;

$block-has-bg-padding-x: false !default;
$block-has-bg-padding-y: 9 !default;

/**
 *
 * Columns
 *
 **/

$columns-margin-x: false !default; // false | modular scale ratio
$columns-margin-y: false !default; // false | modular scale ratio
$columns-padding-x: false !default; // false | modular scale ratio
$columns-padding-y: 2 !default; // false | modular scale ratio
$columns-flex-wrap: (
  xs: wrap,
  md: nowrap
) !default;

$columns-item-margin-x: false !default; // false | modular scale ratio
$columns-item-margin-y: false !default; // false | modular scale ratio
$columns-item-padding-x: $blocks-container-padding-x !default; // false | modular scale ratio
$columns-item-padding-y: $blocks-container-padding-y !default; // false | modular scale ratio

/**
 *
 * Google Map
 *
 **/

$map-margin-x: $block-margin-x !default; // false | modular scale ratio
$map-margin-y: $block-margin-y !default; // false | modular scale ratio
$map-padding-x: $block-padding-x !default; // false | modular scale ratio
$map-padding-y: $block-padding-y !default; // false | modular scale ratio

$map-iframe-margin-x: false !default; // false | modular scale ratio
$map-iframe-margin-y: 2 !default; // false | modular scale ratio


/**
 *
 * Latest Posts
 *
 **/

