/**
 * Branding
 **/

    $header-brand-position: relative !default;
    $header-brand-width: 100% !default;
    $header-brand-z: 100 !default;
    $header-brand-image-width: 5rem !default;
    $header-brand-image-max-width: 60% !default;


/**
 * Main Navigation
 **/

    $main-menu-margin:           0 -1rem 0 0 !default;
    $main-menu-padding:          0 !default;
    $main-menu-color:            $white !default;
    $main-menu-color-dark:       $white !default;

    $main-menu-link-margin:      0 0.5rem !default;
    $main-menu-link-padding:     0.25rem 0.5rem !default;

    $main-menu-dropdown-bg:          darken( $light, 10% ) !default;
    $main-menu-dropdown-color:       $black !default;
    $main-menu-dropdown-bg-dark:     lighten( $dark, 10% ) !default;
    $main-menu-dropdown-color-dark:  $white !default;

    $main-menu-margin-x:   false !default; // false | modular scale ratio
    $main-menu-margin-y:   false !default; // false | modular scale ratio
    $main-menu-padding-x:  false !default; // false | modular scale ratio
    $main-menu-padding-y:  false !default; // false | modular scale ratio

    $main-menu-justify: flex-end !default;
    $main-menu-whitespace: normal !default;

/**
 * Header Search Form
 **/

    $header-search-font: -2 !default; // modular scale ratio



