/**
 * Branding
 **/
$branding-image-width: 5rem;


/**
 * Main Navigation 
 **/
$main-nav-margin:           0 -1rem 0 0;
$main-nav-padding:          0;
$main-nav-color:            $global-link-color;
$main-nav-link-margin:      0 0.5rem;
$main-nav-link-padding:     0.25rem 0.5rem;
$main-dropdown-bg:          darken( $light, 10% );
$main-dropdown-color:       $black;
$main-dropdown-bg-dark:     lighten( $dark, 10% );
$main-dropdown-color-dark:  $white;

$main-nav-margin-x:   false; // false | modular scale ratio
$main-nav-margin-y:   false; // false | modular scale ratio
$main-nav-padding-x:  false; // false | modular scale ratio
$main-nav-padding-y:  false; // false | modular scale ratio

$main-nav-justify: flex-end;
$main-nav-whitespace: nowrap;

