/**
 *
 * Hero Default
 *
 **/
$hero-show:         true !default;
$hero-container:    false !default; // true limits the width of the hero to the page container
$hero-maxchar:      45ch !default; // Limits the width of the hero to a charachter count.
$hero-color:        $black !default;
$hero-font:         2 !default; // modular scale
$hero-font-family:  $heading-font !default;
$hero-border:       false !default;
$hero-border-style: solid !default;
$hero-border-color: $accent-2 !default;
$hero-border-width: 0 !default; // modular scale

// Adds padding to the hero to force height of the hero repsonsively.
$hero-padding-top:      9 !default; // modular scale
$hero-padding-bottom:   4 !default; // modular scale

// hero Font Sizes using Modular Scale
$hero-1: ( xs: 0,  sm: 0,  md: 0,  lg: 0,  xl: 0,  xxl: 0,  xxxl: 1 )  !default
$hero-2: ( xs: 4,  sm: 4,  md: 4,  lg: 4,  xl: 4,  xxl: 4,  xxxl: 4 )  !default
$hero-3: ( xs: 3,  sm: 3,  md: 3,  lg: 3,  xl: 3,  xxl: 3,  xxxl: 3 )  !default
$hero-4: ( xs: 2,  sm: 2,  md: 2,  lg: 2,  xl: 2,  xxl: 2,  xxxl: 2 )  !default
$hero-5: ( xs: 1,  sm: 1,  md: 1,  lg: 1,  xl: 1,  xxl: 1,  xxxl: 1 )  !default
$hero-6: ( xs: 0,  sm: 0,  md: 0,  lg: 0,  xl: 0,  xxl: 0,  xxxl: 1 )  !default

$hero-background: transparentize !default;
$hero-image-filter: sepia( 15% ) brightness( 100% )  !default

// pseudo element that displays over the hero image
// can be used for tinting and other extra effects on the image.
$hero-screen-display: block  !default // none | block
$hero-screen-bg:      transparentize( $light, .15 ) !default; //any background shorthand

// hero spacer used on pages that do not have a hero,  in case spacing is necessary
$hero-spacer-height: $hero-padding-top !default; // modular scale

/**
 *[
 * Hero Video
 *
 **/

$hero-control-icon-width:   2 !default; // modular scale
$hero-control-icon-height:  2 !default; // modular scale
$hero-control-top:          auto !default;
$hero-control-right:        var( --global-padding ) !default;
$hero-control-bottom:       var( --global-padding ) !default;
$hero-control-left:         auto !default; // modular scale | auto
$hero-control-bg:           transparent !default;

/**
 *
 * Page Specific
 *
 **/

// landing pages
// $landing-hero-aspect-ratio: $hero-padding-y !default;
// (
//  xs: 120%,  sm: 80%,  md: 80%,  lg: 60%,  xl: 60%,  xxl: 50%,  xxxl: 40%
// ) !default;
// home page
// $home-hero-aspect-ratio: $landing-hero-aspect-ratio !default;