$home-article-thumbnail: false !default;
$home-article-taxonomy: false !default;
$home-article-summary: false !default;
$home-article-time: false !default;
$home-article-title: true !default;

body.home {
    .article-summary {
        @if $home-article-title == false {
            header {
                display: none;
            }
        }
        @if $home-article-thumbnail == false {
            .thumnail {
                display: none;
            }
        }
        @if $home-article-taxonomy == false {
            .taxonomy {
                display: none;
            }
        }
        @if $home-article-time == false {
            time {
                display: none;
            }
        }
        @if $home-article-summary == false {
            .summary {
                display: none;
            }
        }
    }
}