/**
 * Blockquotes
 *
 **/


 // * Light Mode

$quote-color              : $dark !default;
$quote-bg                 : darken($light,5%) !default;
$quote-accent             : $primary !default;


// * Dark Mode

$quote-color-dark         : $dark !default;
$quote-bg-dark            : darken($light, 5%) !default;
$quote-accent-dark        : $primary !default;


// * Margin
// * false | modular scale ratio

$blockquote-margin-top    : false !default;
$blockquote-margin-right  : false !default;
$blockquote-margin-bottom : $global-margin !default;
$blockquote-margin-left   : false !default;


// * Padding
// * false | modular scale ratio

$blockquote-padding-top   : 1 !default;
$blockquote-padding-bottom: 1 !default;
$blockquote-padding-right : 1 !default;
$blockquote-padding-left  : 1 !default;