/**
 * Global Variabls
 * TODO: move all globals here
 **/

/**
 * Global Spacing
 **/

$global-margin:   2 !default; // false | modular scale ratio
$global-padding:  2 !default;  // false | modular scale ratio

/**
 * Global Color
 **/

// * Light Mode
$global-font-color:             $dark !default;
$global-background-color:       $light !default;
$global-link-color:             $primary !default;
$global-link-color-dark:        $accent-1 !default;
$global-link-focus:             lighten( $global-link-color, 20% ) !default;
$global-menu-bg:                $light !default;

// * Dark Mode
$global-font-color-dark:             $global-font-color !default;
$global-background-color-dark:       $global-background-color !default;
$global-link-color-dark:             $global-link-color !default;
$global-link-focus-dark:             $global-link-focus !default;
$global-menu-bg-dark:                $global-menu-bg !default;

/**
 * Global Typography
 **/

$global-font:               var( --font-family-global ) !default; // grab the font family from the forestry output
$global-font-size:          0 !default; // modular scale
$global-small:              $global-font-size - 1 !default;
$global-small-line-height:  1.2 !default;
$global-line-height:        1.75 !default;
$global-link-weight:        normal !default;

 /**
  * Global Effects
  **/

  $global-radius:   2px !default; // false | modular scale ratio
  $global-shadow:   1px 1px 2px transparentize($dark,0.2) !default;

  /**
  * Global Options
  **/

 $dark-mode: false; // enables dark mode variables

