article {
  margin-bottom: var(--global-margin);
  display: grid;
  grid-template-columns: 200%;
  grid-column-gap: 0;
  grid-template-areas: 
    "ahead"
    "aimg"
    "asum";

  header {
    grid-area: ahead;
  }

  .thumbnail {
    width: 100%;
    grid-area: aimg;
    .thumbnail-link {
      display: block;
      padding-bottom: 56.2%;
      position: relative;
      overflow: hidden;

      img {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }


  .summary {
    grid-area: asum;

    time {
      display: block;
      font-weight: bold;
      font-style: italic;
    }
  }
}

/* list page articles */

body.list {
  main {
    article {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "aimg"
        "ahead"
        "asum";
      header {
        display: $list-header-display;
      }

      .thumbnail {
        display: $list-thumbnail-display;
      }

      .summary {
        display: $list-summary-display;
      }
    }
  }
}

body.post,
body.page {
  main {
    article {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "aimg"
        "ahead"
        "asum"
        "foot";
      header {
        display: $list-header-display;
      }

      .thumbnail {
        display: $list-thumbnail-display;
      }

      .summary {
        display: $list-summary-display;
      }

      footer {
        grid-area: foot;
      }
    }
  }
}

.widget-latest-posts {
  article {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "ahead"
      "aimg"
      "asum";

    header {
      display: $latest-header-display;

      h2{
        margin-top: 0 !important;
      }
    }

    .thumbnail {
      display: $latest-thumbnail-display;
    }
    .summary {
      display: $latest-summary-display;
      max-height: 8rem;
      width: calc (80%);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
    }
  }
}

.block-latest-posts {
  article {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "aimg"
      "ahead"
      "asum";

    header {
      display: $latest-header-display;

      h2{
        margin-top: 0 !important;
      }
    }

    .thumbnail {
      display: $latest-thumbnail-display;
    }
    .summary {
      display: $latest-summary-display;
      max-height: 8rem;
      width: calc (80%);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;  
    }
  }
}