.taxonomy {
  grid-area: tax;
  margin: 0;
  .tags {
    a {
      background: lighten($dark, 20%);
    }
  }
}

$summary-template-areas: (
  xs: $summary-xs-template-areas,
  sm: $summary-sm-template-areas,
  md: $summary-md-template-areas,
  lg: $summary-lg-template-areas,
  xl: $summary-xl-template-areas,
  xxl: $summary-xxl-template-areas,
  xxxl: $summary-xxxl-template-areas
);

$summary-template-columns: (
  xs: $summary-xs-template-columns,
  sm: $summary-sm-template-columns,
  md: $summary-md-template-columns,
  lg: $summary-lg-template-columns,
  xl: $summary-xl-template-columns,
  xxl: $summary-xxl-template-columns,
  xxxl: $summary-xxxl-template-columns
);

.article-summary {
  @include space-element-x(margin, $summary-margin-left, $summary-margin-right);
  @include space-element-y(margin, $summary-margin-top, $summary-margin-bottom);
  @include space-element-x(padding, $summary-padding-left, $summary-padding-right);
  @include space-element-y(padding, $summary-padding-top, $summary-padding-bottom);
  // @include ms-respond(margin-top,$global-margin * 2);
  // @include ms-respond(margin-bottom,$global-margin * 2);


  display: grid;
  // Generate Responsive Grid
  @include responsive-property($summary-template-areas, "grid-template-areas");
  @include responsive-property($summary-template-columns, "grid-template-columns");
  @include grid-gaps($summary-column-gap, $summary-row-gap);

  header {
    grid-area: head;

    h3 {
      margin-top: $summary-header-margin;
    }
  }

  time {
    grid-area: time;
  }

  .thumbnail {
    grid-area: thumb;
    margin: 0;
  }

  .summary {
    grid-area: summ;
    @include ms-respond(margin-top, $summary-summary-margin-top);
  }
}
