.taxonomy {
  grid-area: tax;
  margin: 0;
  .tags {
    a {
      background: lighten($dark, 20%);
    }
  }
}

$asum-template-areas: (
  xs: $asum-xs-template-areas,
  sm: $asum-sm-template-areas,
  md: $asum-md-template-areas,
  lg: $asum-lg-template-areas,
  xl: $asum-xl-template-areas,
  xxl: $asum-xxl-template-areas,
  xxxl: $asum-xxxl-template-areas
);

$asum-template-columns: (
  xs: $asum-xs-template-columns,
  sm: $asum-sm-template-columns,
  md: $asum-md-template-columns,
  lg: $asum-lg-template-columns,
  xl: $asum-xl-template-columns,
  xxl: $asum-xxl-template-columns,
  xxxl: $asum-xxxl-template-columns
);

.article-summary {
  @include space-element-x(margin, $asum-margin-left, $asum-margin-right);
  @include space-element-y(margin, $asum-margin-top, $asum-margin-bottom);
  @include space-element-x(padding, $asum-padding-left, $asum-padding-right);
  @include space-element-y(padding, $asum-padding-top, $asum-padding-bottom);

  display: grid;
  // Generate Responsive Grid
  @include responsive-property($asum-template-areas, "grid-template-areas");
  @include responsive-property($asum-template-columns, "grid-template-columns");
  @include grid-gaps($asum-column-gap, $asum-row-gap);

  header {
    grid-area: head;

    h3 {
      margin-top: $asum-header-margin;
    }
  }

  time {
    grid-area: time;
  }

  .thumbnail {
    grid-area: thumb;
    margin: 0;
  }

  .summary {
    grid-area: summ;
    @include ms-respond(margin-top, $asum-summary-margin-top);
  }
}
