.block-columns {
  position: relative;
  padding: 0;

  .block-title {
    margin-bottom: var(--global-padding);
  }

  .item {
    align-items: center;
    padding: 0 var(--global-padding);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    > * {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &.no-container {
    .column-container-1 {
      .item {
        padding-left: var(--global-padding);
        padding-right: var(--global-padding);
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;

    @include respond-to('md') {
      flex-wrap: nowrap;
    }

    .item {
      flex: 1 1 auto;
      padding: var(--global-padding);
    }

    @include respond-to('xs'){
      min-width: 100%;
    }
    @include respond-to('sm'){
      min-width: 100%;
    }

    @include respond-to('md'){
      min-width: none;
      max-width: 33%;
    }
  }
}
