.block-logos {
  .container {
    display: flex;
    justify-content: center;

    .item {
      flex-basis: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

        img {
        width: 85%;
        height: auto;
      }
    }
  }
}