.block-columns {
  position: relative;
  padding: var( --global-padding ) 0;

  .block-title {
    margin-bottom: var( --global-padding );
  }

  .item {
    align-items: center;
    padding: 0 var( --global-padding );

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    > * {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &.no-container {
    .column-container-1 {
      .item {
        padding-left: var( --global-padding );
        padding-right: var( --global-padding );
      }
    }
  }


  .container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    
    @include respond-to( 'md' ){

      &.column-container-2, 
      &.column-container-4, 
      &.column-container-6 {
        grid-template-columns: 1fr 1fr;
      }

      &.column-container-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.column-container-5 {
        grid-template-columns: 1fr 1fr;

        :nth-child( 2 ) {
          grid-column: 1 / span 2;
        }
      }
    }

    @include respond-to( 'lg' ){
      &.column-container-3, 
      &.column-container-6 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.column-container-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &.column-container-5 {
        grid-template-columns: 1fr 1fr;

        :nth-child( 2 ) {
          grid-column: 1 / span 2;
        }
      }
    }

    @include respond-to( 'xl' ){
      &.column-container-3, 
      &.column-container-6 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.column-container-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &.column-container-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        :nth-child( 2 ) {
          grid-column: 1 / span 4;
        }
      }
    }
  }
}