
.blocks {
  display: grid;
  grid-template-columns: 1rf;

  @include respond-to(xxxl){
    grid-template-columns: 1fr 1fr;
  }
}

.block {
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
  max-width: 100vw;

  img {
    max-width: 100%;
  }
}