.block-latest-posts {
  [class^=latest-posts-] {
    @extend .container;

    display: grid;
    grid-column-gap: var(--global-margin);
    grid-template-columns: 1fr;

    h2 {
      margin-top: 0 !important;
      @include ms-respond(font-size,2);
    }

    @include respond-to('lg'){
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

