.block-latest-posts {
  [class^=latest-posts-] {
    @extend .container;

    display: flex;
    // grid-column-gap: var( --global-margin );
    // grid-template-columns: 1fr;

    .article-summary {
      flex: 1 1 0;
      padding-right: var( --global-padding );

      &:last-child {
        padding-right: 0;
      }
      grid-template-rows: 400px auto;
      grid-template-areas:
        "thumb thumb thumb thumb thumb thumb"
        "head head head head head head"
        "time time time time time time"
        "tax tax tax tax tax tax";

      .summary {
        display: none;
      }

      .thumbnail {

      }
    }
  }
}