.block-latest-posts {
  [class^="latest-posts-"] {
    @extend .container;

    display: flex;
    // grid-column-gap: var( --global-margin );
    // grid-template-columns: 1fr;

    .article-summary {
      flex: 1 1 0;
      padding-right: var(--global-padding);

      &:last-child {
        padding-right: 0;
      }
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto 1fr auto auto;
      grid-template-areas:
        "thumb"
        "time"
        "tax"
        "head";

      .summary {
        display: none;
      }

      .thumbnail {
      }
    }
  }
}
