
.blocks {
  display: grid;
  grid-template-columns: 1fr;
}

.block {
  // grid-area: block;
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
  max-width: 100vw;

  img {
    max-width: 100%;
  }
}