.hero {
  height: 100%;
  display: grid;
  align-items: stretch;
  grid-area: hero;
  margin: 0;
  background-size: cover; 
  background-position: 50%;
  @include ms-respond(min-height,14);

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "....."
      "herotxt"
      ".....";
  }

  .hero-text {
    grid-area: herotxt;
    position: relative;
    z-index: 100;
    color: $white;
    text-shadow: ms(-5) ms(-5) ms(-2) #000;
    align-self: center;

    h1,h2,h3,h4,h5,h6 {
      display: block;
      color: #fff;
      margin: 0;
      @include respond-to(lg){
        max-width: 25ch;
      }
    }
  }
}