.message {
  // max-width: 768px;
  margin: var(--global-margin) auto;
  padding: 0.5rem;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  border: 2px solid;
  border-radius: $global-radius;
  @include ms-respond(font-size,0);

  a {
    color: inherit;
    text-decoration: underline;
  }

  &.danger {
    border-color: $danger;
    color: $danger;
    background-color: lighten($danger,40%);
  }

  &.info {
    border-color: $info;
    color: $info;
    background-color: lighten($info,40%);
  }

  &.success {
    border-color: $success;
    color: $success;
    background-color: lighten($success,40%);
  }

  &.warning {
    border-color: $warning;
    color: $warning;
    background-color: lighten($warning,40%);
  }
}