.pagination {
  @include space-element-x(margin, $pagination-margin-left, $pagination-margin-right);
  @include space-element-y(margin, $pagination-margin-top, $pagination-margin-bottom);
  @include space-element-x(padding, $pagination-padding-left, $pagination-padding-right);
  @include space-element-y(padding, $pagination-padding-top, $pagination-padding-bottom);

  .pagination-list {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      @include space-element-x(margin, $pagination-item-margin-left, $pagination-item-margin-right);
      @include space-element-y(margin, $pagination-item-margin-top, $pagination-item-margin-bottom);
      @include space-element-x(padding, $pagination-item-padding-left, $pagination-item-padding-right);
      @include space-element-y(padding, $pagination-item-padding-top, $pagination-item-padding-bottom);

      a {
        @include ms-respond(font-size,$pagination-font-size);
        text-decoration: $pagination-text-decoration;
        @if $pagination-as-buttons == true {
          @extend .button;
        }

        &:hover,
        &:focus {
          color: $pagination-text-focus-color;
        }
      }
    }
  }
}
