.share-buttons {
  margin: $button-share-margin;
  padding: $button-share-padding;
  color: $button-share-text-color;
  @include ms-respond(font-size, $button-share-font-size);

  a {
    text-decoration: none;
    margin: $button-share-link-margin;
    padding: $button-share-link-padding;
    svg {
      @include ms-respond(width, $button-share-icon-width);
      height: auto;
      fill: $button-share-icon-fill;
      @media (prefers-color-scheme: dark) {
        fill: $button-share-icon-fill-dark;
      }
    }
  }
}
