.share-buttons {
  margin: $share-margin;
  padding: $share-padding;
  color: $share-text-color;
  @include ms-respond(font-size, $share-font-size);

  a {
    text-decoration: none;
    margin: $share-link-margin;
    padding: $share-link-padding;
    svg {
      @include ms-respond(width, $share-icon-width);
      height: auto;
      fill: $share-icon-fill;
      @media (prefers-color-scheme: dark) {
        fill: $share-icon-fill-dark;
      }
    }
  }
}
