.slideshow {
  max-width: 100% !important;
  position: relative;
  margin-bottom: calc( var( --global-margin ) * 2 );
  padding-bottom: 52.6%;

  // width: calc( 180% - 16px );
  margin-left: auto;
  margin-right: auto;

  .flexslider, 
  .flex-viewport {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
  }

  .slides {
    display: flex;
    align-items: stretch;
    height: 100%;

    li {
      max-height: 100%;
      position: relative;
      display: flex !important;
      align-items: stretch;

      img {
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // // width: 100%;
        // height: inherit;
        display: flex;
        object-fit: cover;
      }
    }
  }

  .custom-navigation {
    .flex-prev, 
    .flex-next {
      opacity: 0.5;
      position: absolute;
      top: 50%;
      color: $dark;
      background: $accent-2;
      border-radius: 50%;
      // box-shadow: 1px 1px 2px $black;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
      }

      svg {
        transform: scale( 1.125 );
      }
    }

    .flex-prev {
      left: 1rem;
      transform: translateX( 0 ) translateY( -50% );
    }

    .flex-next {
      right: 1rem;
      left: auto;
      transform: translateX( 0 ) translateY( -50% );
    }

    @include respond-to( md ){
      .flex-prev {
        transform: translateX( 0 ) translateY( -50% );
      }

      .flex-next {
        transform: translateX( 0 ) translateY( -50% );
      }
    }

    .custom-controls-container {
      position: absolute;
      top: calc( 100% + 1rem );
      width: 100%;
      transform: translateY( 300% );

      a {
        width: 1.5rem;
        height: 1.5rem;
        transition: background-color 0.5s;
        border-color: transparent !important;
        background-color: $light;

        &:hover {
          background-color: $accent-2;
        }

        &.flex-active {
          background-color: $accent-2;
        }
      }
    }
  }
}