.thumbnail {
  margin-bottom: var( --global-margin );
  display: flex;
  align-items: stretch;

  a {
    display: block;
    padding-bottom: 52.6%;
    position: relative;
    width: 100%;
    height: 100%;

    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}