/**
 * Site Header
 * * Part of the body element's css grid
 * * Edit positioning in /variables/elements/_body.scss
 * TODO prefix each $header to $site-header, so we can modify the header HTML element separately
 **/


// * Fonts

$header-link-weight                        : normal !default;


// * Light Mode

$header-color                              : $light !default;
$header-bg                                 : transparent !default;
$header-link                               : $global-link-color !default;
$header-bg                                 : $dark !default;
$header-text-color                         : $light !default;
$header-link-color                         : $light !default;
$header-link-focus                         : $global-link-focus !default;


// * Dark Mode

$header-color-dark                         : $light !default;
$header-bg-dark                            : transparent !default;
$header-link-dark                          : $global-link-color-dark !default;
$header-bg-dark                            : $dark !default;
$header-text-color-dark                    : $light !default;
$header-link-color-dark                    : $light !default;
$header-link-focus-dark                    : $global-link-focus !default;

// Dimensions
$header-width                              : 100% !default;
$header-height                             : auto !default;

$header-margin-x                           : false !default; // false | modular scale ratio
$header-margin-y                           : false !default; // false | modular scale ratio
$header-padding-x                          : false !default; // false | modular scale ratio
$header-padding-y                          : false !default; // false | modular scale ratio

// Positioning
$header-position                           : absolute !default;
$header-top                                : 0 !default;
$header-right                              : 0 !default;
$header-bottom                             : auto !default;
$header-left                               : 0 !default;
$header-z                                  : 2000 !default;
