// * Search Form
// TODO comments & check font size vars

$header-search-font-size                   : 0 !default; //modularscale raito
$header-search-field-margin                : 0 0 0 0.5rem !default;
$header-search-field-padding               : 0.25rem 0.5rem !default;
$header-search-button-margin               : 0 0 0 0.5rem !default;
// ? is this being used? or is it $header-search-font-size?
$header-search-font: -2 !default; // modular scale ratio