
a {
  color: $global-link-color;
  @media (prefers-color-scheme: dark) {
      color: $global-link-dark;
  }   

  &:hover {
    color: darken($global-link-color,20%);
    @media (prefers-color-scheme: dark) {
        color: darken($global-link-dark,20%);
    }   
  }
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: $heading-font;
  font-display: auto;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: $heading-margin;
  margin-bottom: $heading-padding;

  color: $heading-color;
  @media (prefers-color-scheme: dark) {
      color: $heading-color-dark;
  }   

  a {
    text-decoration: none;
    color: $heading-link-color;
    @media (prefers-color-scheme: dark) {
        color: $heading-link-color-dark;
    }
    &:hover {
      color: darken($header-link-color,10%);
      @media (prefers-color-scheme: dark) {
          color: darken($heading-link-color-dark,10%);
      }
    }   
  }
}

h1 {
  @include heading-size($heading-1);
}

h2 {
  @include heading-size($heading-2);
}

h3 {
  @include heading-size($heading-3);
}

h4 {
  @include heading-size($heading-4);
}

h5 {
  @include heading-size($heading-5);
}

h6 {
  @include heading-size($heading-6);
}

header {
  h1 {
    margin-top: 0 !important;
  }
}

small,.small {
  @include ms-respond(font-size,0);
  line-height: 1.2;
}

p {
  margin-bottom: var(--global-margin);
  max-width: 100%;
}

blockquote {
  background: lighten($accent_2,55%);
  border-left: 10px solid $accent_2;
  margin: var(--global-margin) 0;
  padding: var(--global-padding);
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $accent_2;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  margin: var(--global-margin) 0;
}

blockquote {
  p:last-child {
    margin-bottom: 0 !important;
  }
}

aside {
  // @include ms-respond(font-size,1);

  // h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  //   line-height: 1.2;
  //   margin-bottom: var(--heading-margin-bottom);
  // }

  // h1 {
  //   @include ms-respond(font-size,4);
  // }

  // h2 {
  //   @include ms-respond(font-size,3);
  // }

  // h3 {
  //   @include ms-respond(font-size,2);
  // }

  // h4 {
  //   @include ms-respond(font-size,1);
  //   line-height: 1.5;
  // }

  // h5 {
  //   @include ms-respond(font-size,1);
  //   line-height: 1.5;
  // }

  // h6 {
  //   @include ms-respond(font-size,1);
  //   line-height: 1.5;
  // }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}