html {
  width: 100%;
}

body {
  @include ms-respond(font-size,1);
  @include ms-respond(padding-right,2);
  @include ms-respond(padding-left,2);
  line-height: 1.5;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Roboto";
  font-display: auto;
  color: $base-text-color;
  @media (prefers-color-scheme: dark) {
      color: $heading-text-color-dark;
  }   
}

a {
  color: $link-text-color;
  @media (prefers-color-scheme: dark) {
      color: $link-text-color-dark;
  }   

  &:hover {
    color: darken($link-text-color,20%);
    @media (prefers-color-scheme: dark) {
        color: darken($link-text-color-dark,20%);
    }   
  }
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: 'Playfair Display', serif;
  font-display: auto;
  font-weight: 400;
  line-height: 1.2;
  margin-top: var(--heading-margin-top);
  margin-bottom: var(--heading-margin-bottom);

  color: $heading-text-color;
  @media (prefers-color-scheme: dark) {
      color: $heading-text-color-dark;
  }   

  a {
    text-decoration: none;
    color: $heading-link-color;
    @media (prefers-color-scheme: dark) {
        color: $heading-link-color-dark;
    }
    &:hover {
      color: darken($header-link-color,10%);
      @media (prefers-color-scheme: dark) {
          color: darken($heading-link-color-dark,10%);
      }
    }   
  }
}

h1 {
  @include ms-respond(font-size,5);
  margin-top: 0 !important;
  line-height: 1.1;

  @include respond-to(md){
    @include ms-respond(font-size,6);
  }

  @include respond-to(lg){
    @include ms-respond(font-size,7);
  }

  @include respond-to(xl){
    @include ms-respond(font-size,9);
  }
}

h2 {
  @include ms-respond(font-size,5);
}

h3 {
  @include ms-respond(font-size,4);
}

h4 {
  @include ms-respond(font-size,3);
  line-height: 1.5;
}

h5 {
  @include ms-respond(font-size,2);
  line-height: 1.5;
}

h6 {
  @include ms-respond(font-size,1);
  line-height: 1.5;
}

header {
  h1 {
    margin-top: 0 !important;
  }
}

small,.small {
  @include ms-respond(font-size,0);
  line-height: 1.2;
}

p {
  margin-bottom: var(--global-margin);
  max-width: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote {
  p:last-child {
    margin-bottom: 0 !important;
  }
}

aside {
  @include ms-respond(font-size,1);

  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    line-height: 1.2;
    margin-bottom: var(--heading-margin-bottom);
  }

  h1 {
    @include ms-respond(font-size,4);
  }

  h2 {
    @include ms-respond(font-size,3);
  }

  h3 {
    @include ms-respond(font-size,2);
  }

  h4 {
    @include ms-respond(font-size,1);
    line-height: 1.5;
  }

  h5 {
    @include ms-respond(font-size,1);
    line-height: 1.5;
  }

  h6 {
    @include ms-respond(font-size,1);
    line-height: 1.5;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}