a {
  color: $global-link-color;
  font-weight: $global-link-weight;

  @media (prefers-color-scheme: dark) {
    color: $global-link-dark;
  }

  &:hover {
    color: darken($global-link-color, 20%);
    @media (prefers-color-scheme: dark) {
      color: darken($global-link-dark, 20%);
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  @include space-element-x(margin, $heading-margin-left, $heading-margin-right);
  @include space-element-y(margin, $heading-margin-top, $heading-margin-bottom);
  @include space-element-x(padding, $heading-padding-left, $heading-padding-right);
  @include space-element-y(padding, $heading-padding-top, $heading-padding-bottom);

  color: $heading-color;
  background-color: $heading-bg;
  @media (prefers-color-scheme: dark) {
    color: $heading-color-dark;
    background-color: $heading-bg-dark;
  }

  a {
    text-decoration: none;
    color: $heading-link-color;
    @media (prefers-color-scheme: dark) {
      color: $heading-link-color-dark;
    }
    &:hover {
      color: darken($header-link-color, 10%);
      @media (prefers-color-scheme: dark) {
        color: darken($heading-link-color-dark, 10%);
      }
    }
  }
}

@include heading-size(h1, $heading-1);
@include heading-size(h2, $heading-2);
@include heading-size(h3, $heading-3);
@include heading-size(h4, $heading-4);
@include heading-size(h5, $heading-5);
@include heading-size(h6, $heading-6);

@include heading-size(aside h1, $heading-1, $heading-sidebar);
@include heading-size(aside h2, $heading-2, $heading-sidebar);
@include heading-size(aside h3, $heading-3, $heading-sidebar);
@include heading-size(aside h4, $heading-4, $heading-sidebar);
@include heading-size(aside h5, $heading-5, $heading-sidebar);
@include heading-size(aside h6, $heading-6, $heading-sidebar);

small,
.small {
  @include ms-respond(font-size, $global-small);
  line-height: $global-small-line-height;
}

p,
pre {
  @include space-element-x(margin, $paragraph-margin-left, $paragraph-margin-right);
  @include space-element-y(margin, $paragraph-margin-top, $paragraph-margin-bottom);
  @include space-element-x(padding, $paragraph-padding-left, $paragraph-padding-right);
  @include space-element-y(padding, $paragraph-padding-top, $paragraph-padding-bottom);
}

blockquote {
  background: lighten($accent_2, 55%);
  border-left: 10px solid $accent_2;
  quotes: "\201C""\201D""\2018""\2019";
  @include space-element-x(margin, $blockquote-margin-left, $blockquote-margin-right);
  @include space-element-y(margin, $blockquote-margin-top, $blockquote-margin-bottom);
  @include space-element-x(padding, $blockquote-padding-left, $blockquote-padding-right);
  @include space-element-y(padding, $blockquote-padding-top, $blockquote-padding-bottom);
}

blockquote:before {
  color: $accent_2;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre {
  background-color: $pre-bg !important;
  @include space-element-x(margin, $pre-margin-left, $pre-margin-right);
  @include space-element-y(margin, $pre-margin-top, $pre-margin-bottom);
  @include space-element-x(padding, $pre-padding-left, $pre-padding-right);
  @include space-element-y(padding, $pre-padding-top, $pre-padding-bottom);
}
