{{/**
   * Default List Template
	 *
	 * The default list for the site.
   *
   * @version 1.0.0
	 *
   */}}

   {{ define "main" }}
   <main id="main" class="" tabindex="0" aria-label="{{ .Title }}">
     <h1>{{ .Title }}</h1>
     {{ .Content }}
     {{ if gt (len .Data.Pages) 0 }}
     {{ $site := .Site }}
      <p class="post-count" tabindex="0">{{ len .Data.Pages }} {{ .Section | pluralize }} found. </p>
        {{ range .Data.Pages }}
          {{ partial "components/article-summary" (dict "page" . "site" $site )}}
        {{ end }}
      <div class="pagination">
        {{ partial "components/pagination.html" . }}
      </div>
     {{ end }}
   </main>
   {{ end }}

  {{ define "aside" }}
  <aside class="sidebar" tabindex="0">
    {{ partial "widgets/widgets" (dict "page" .Page "site" .Site "content" .Site.Data.config.sidebar_widgets.widgets ) }}
  </aside>
  {{ end }}