{{/**
   * Default Single Page Layout
	 *
	 * The default single for the site.
   * All pages and posts will default to this template.
   *
   * @version 1.0.0
	 *
   */}}

 {{ define "hero" }}
   {{ partial "hero-spacer" . }}
 {{ end }}


{{ define "breadcrumbs" }}
{{ if and (not .IsHome) (ne .Params.layout "landing") (.Site.Data.config.show_breadcrumbs) }}
<div class="breadcrumbs">
  {{ partial "breadcrumbs" . }}
</div>
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" tabindex="0">
    {{ partial "article" . }}
</main>
{{ end }}

{{ define "aside" }}
  {{ partial "sidebar" . }}
{{ end }}