{{/**
   * Default Single Page Layout
	 *
	 * The default single for the site.
   * All pages and posts will default to this template.
   *
   * @version 1.0.0
	 *
   */}}

{{ define "hero" }}
{{ if .Params.videos }}
{{ partial "components/hero-video" . }}
{{ else if .Params.images}}
{{ partial "components/hero" . }}
{{ else }}
<div class="hero spacer"></div>
{{ end }}
{{ end }}

{{ define "breadcrumbs" }}
<div class="breadcrumbs">
  {{ partial "breadcrumbs" . }}
</div>
{{ end }}

{{ define "main" }}
<main id="main" tabindex="0">
  {{ partial "article" . }}
</main>
{{ end }}

{{ define "aside" }}
<aside class="sidebar" tabindex="0">
  {{ partial "widgets" (dict "page" .Page "site" .Site "content" .Site.Params.sidebar_widgets.widgets ) }}
</aside>
{{ end }}