{{/**
   * Default Single Page Layout
	 *
	 * The default single for the site.
   * All pages and posts will default to this template.
   *
   * @version 1.0.0
	 *
   */}}

{{ define "main" }}
<main id="main">
  <h1>{{ .Site.Title }}</h1>
  <ul class="">
  {{ range .Site.Pages }}
    {{ if eq .Section "" }}
      <li><a href="{{ .Permalink | relURL }}" title="{{.Title}}">{{.Title}} {{ .Section }}</a></li>
    {{ end }}
  {{ end }}
  </ul>
  <h2>Sections</h2>
  {{ range .Site.Sections }}
    <h3>{{ .Title }}</h3>
    <ul>
      {{ range .Pages }}
      <li><a href="{{ .Permalink | relURL }}" title="{{.Title}}">{{.Title}}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</main>
{{ end }}

{{ define "aside" }}
<aside class="sidebar">
  {{ partial "widgets/widgets" (dict "page" .Page "site" .Site "content" .Site.Data.config.sidebar_widgets.widgets ) }}
</aside>
{{ end }}
