/**
 * Breadcrumbs
 **/

// * Fonts
$breadcrumbs-font-size         : 0.5; // modular scale
$breadcrumbs-font-weight       : normal;
$breadcrumbs-active-font-weight: bold;

// * Breadcrumb Separator
$breadcrumbs-char              : "/\00a0" !default;

// * Breadcrumb Truncation
$breadcrumbs-max-chars         : (
  xs                           : 35ch,
  sm                           : 40ch,
  md                           : 45ch,
  lg                           : 50ch,
  xl                           : 60ch,
  xxl                          : 70ch,
  xxxl                         : 80ch
) !default;

// * Margin
// false | modular scale ratio
$breadcrumbs-margin-top        : $global-margin !default;
$breadcrumbs-margin-right      : false !default;
$breadcrumbs-margin-bottom     : $global-margin !default;
$breadcrumbs-margin-left       : false !default;

// * Padding
// false | modular scale ratio
$breadcrumbs-padding-top       : false !default;
$breadcrumbs-padding-bottom    : false !default;
$breadcrumbs-padding-right     : false !default;
$breadcrumbs-padding-left      : false !default;

