{{/**
   * Header Template
	 *
	 * The header for the site. It contains the main navigation.
   * It is used on every page at the top.
   *
   * @version 1.0.0
	 *
   */}}

<a class="skip-link" aria-label="Go to Content" href="#main" tabindex="0">Go to Content</a>
{{ if .Site.Data.config.layout_options.header.blocks }}
<div class="promotional-content">
  {{ partial "blocks/blocks" (dict "page" .Page "site" .Site "content" .Site.Data.config.layout_options.header.blocks) }}
</div>
{{ end }}
<header class="site-header" tabindex="-1">
  <div class="nav-container">
    <div class="site-brand">
      <a href="/" title="Go to the home page" tabindex="0">
        {{ if .Site.Data.organization.header_logo }}
            {{ $imageParams := (dict "page" .Page "site" .Site "url" .Site.Data.organization.header_logo "transform" false ) }}
            <img 
              class="img-responsive" 
              src="{{ partial "utilities/image-url" $imageParams }}" 
              alt="" 
            />
        {{ else }}
          {{ .Site.Data.organization.organization_name }}        
        {{ end }}
      </a>
    </div>
    <div class="nav-main">
      {{ .Scratch.Set "location" "main" }}
      {{ .Scratch.Set "menu" .Site.Menus.main }}
      {{ partial "nav-horizontal" .}}
    </div>
    {{ if .Site.Menus.secondary }}
      {{ .Scratch.Set "location" "main" }}
      {{ .Scratch.Set "menu" .Site.Menus.main }}
    <div class="nav-secondary">
      {{ partial "nav-horizontal" . }}
    </div>
    {{ end }}
    <div class="search-container">
      {{ partial "components/search-form" }}
    </div>
    <button class="mobile-nav-button toggler" type="button" data-target-class="active" data-target="#mobile-nav" aria-controls="mobile-nav-container" aria-expanded="false" aria-label="Toggle navigation">
      {{ partial "icons/menu-toggle" }}
    </button>
    <!-- Mobile Navigation -->
    {{ if .Site.Menus.mobile }}
      {{ .Scratch.Set "location" "mobile" }}
      {{ .Scratch.Set "menu" .Site.Menus.mobile }}
      <div id="mobile-nav" class="">
        {{ partial "nav-vertical" . }}
      </div>
    {{ end }}
  </div>
  {{ block "hero" . }}{{ end }}
  {{ if .Params.videos }}
    {{ partial "components/hero-video" . }}
  {{ else if .Params.images}}
    {{ partial "components/hero" . }}
  {{ end }}

  {{ if and (not .IsHome) (ne .Params.layout "landing") (.Site.Data.config.show_breadcrumbs) }}
    <div class="breadcrumbs">
      {{ partial "components/breadcrumbs" . }}
    </div>
  {{ end }}
</header>