/**
 * Article
 *
 **/


// * Margin
// * false | modular scale ratio

$article-margin-top:        false !default; // false | modular scale ratio
$article-margin-right:      false !default; // false | modular scale ratio
$article-margin-bottom:     $global-margin !default; // false | modular scale ratio
$article-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$article-padding-top:       false !default; // false | modular scale ratio
$article-padding-bottom:    false !default; // false | modular scale ratio
$article-padding-right:     false !default; // false | modular scale ratio
$article-padding-left:      false !default; // false | modular scale ratio
