{{/**
   * Index Template
	 *
	 * The default list for the site.
   *
   * @version 1.0.0
	 *
   */}}

{{ define "hero" }}
{{ if .Params.videos }}
{{ partial "hero-video" . }}
{{ else if .Params.images}}
{{ partial "hero" . }}
{{ else }}
<div class="hero spacer"></div> <!-- not exactly sure why this works but it does -->
{{ end }}
{{ end }}

{{ define "breadcrumbs" }}
{{ if and (not .IsHome) (ne .Params.layout "landing") (.Site.Data.config.show_breadcrumbs) }}
<div class="breadcrumbs">
  {{ partial "breadcrumbs" . }}
</div>
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" class="" tabindex="0" aria-label="{{ .Title }}">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $site := .Site }}
  {{ range first 3 ($.Site.GetPage "posts" .Section).Pages }}
  {{ partial "article-summary" . }}
  {{ end }}
</main>
{{ end }}

{{ define "aside" }}
<aside class="sidebar" tabindex="0">
  {{ partial "widgets/widgets" (dict "page" .Page "site" .Site "content" .Site.Params.sidebar_widgets.widgets ) }}
</aside>
{{ end }}