/**
 * Block Default Styles
 *
 **/

$blocks-margin-left: false; // false | modular scale ratio
$blocks-margin-right: false; // false | modular scale ratio
$blocks-margin-top: false; // false | modular scale ratio
$blocks-margin-bottom: false; // false | modular scale ratio

$blocks-padding-left: false; // false | modular scale ratio
$blocks-padding-right: false; // false | modular scale ratio
$blocks-padding-top: false; // false | modular scale ratio
$blocks-padding-bottom: false; // false | modular scale ratio

$block-margin-x: false !default; // false | modular scale ratio
$block-margin-y: false !default; // false | modular scale ratio
$block-padding-x: false !default; // false | modular scale ratio
$block-padding-y: false !default; // false | modular scale ratio


$block-title-margin-x: false !default;
$block-title-margin-y: false !default;
$block-title-padding-x: false !default;
$block-title-padding-y: false !default;

$block-has-bg-padding-x: false !default;
$block-has-bg-padding-y: $global-padding * 2 !default;