/**
 *
 * Columns
 *
 **/

 $columns-margin-x: false !default; // false | modular scale ratio
 $columns-margin-y: false !default; // false | modular scale ratio
 $columns-padding-x: false !default; // false | modular scale ratio
 $columns-padding-y: $global-padding !default; // false | modular scale ratio
 $columns-flex-wrap: (
   xs: wrap,
   md: nowrap
 ) !default;

 $columns-item-margin-x: false !default; // false | modular scale ratio
 $columns-item-margin-y: false !default; // false | modular scale ratio
 $columns-item-padding-x: $global-padding !default; // false | modular scale ratio
 $columns-item-padding-y: $global-padding !default; // false | modular scale ratio