/**
 *
 * Google Map
 *
 **/

 $map-margin-x: $block-margin-left !default; // false | modular scale ratio
 $map-margin-y: $block-margin-top !default; // false | modular scale ratio
 $map-padding-x: $block-padding-left !default; // false | modular scale ratio
 $map-padding-y: $block-padding-top !default; // false | modular scale ratio

 $map-iframe-margin-x: false !default; // false | modular scale ratio
 $map-iframe-margin-y: 2 !default; // false | modular scale ratio
