/**
 *
 * Google Map
 *
 **/

 $map-margin-x: $block-margin-x !default; // false | modular scale ratio
 $map-margin-y: $block-margin-y !default; // false | modular scale ratio
 $map-padding-x: $block-padding-x !default; // false | modular scale ratio
 $map-padding-y: $block-padding-y !default; // false | modular scale ratio

 $map-iframe-margin-x: false !default; // false | modular scale ratio
 $map-iframe-margin-y: 2 !default; // false | modular scale ratio
