{{/**
   * Blocks
   *
   * Adds blocks of content to a landing page
   * 
   * @version 1.0.0
   */}}


{{/* loop through the landing page's contend blocks and include the appropriate partial */}}
{{ $context := . }}
<div class="blocks">
  {{ range $index, $block := .Params.blocks }}
    {{ $path := printf "blocks/%s" .template }}
    {{ $options := dict "context" $context "image" .background_image "transform" "w_1600"}}
    {{ $imgURL := partial "utilities/cloudinary-transform" $options }}
    <div 
      id="{{ $block.title | anchorize }}-block" 
      class="block {{ .template }}
      {{ if ne .show_block_title true }}no-title{{ end }}
      {{ if .no_container }}no-container{{ end }}
      {{ if .no_padding }}no-padding{{ end }}
      {{ with .text_alignment  }}text-{{ . | urlize }}{{ end }}
      {{ with .color_scheme }}{{ . | urlize }}{{ end }}
      {{ if $block.background_image }}has-bg-image{{ end }}
      {{ if $block.parallax_background }}jarallax{{ end }}
      {{ if $block.background_video_url }}has-bg-video{{ end }}
      " {{ if $block.background_image }} style="background-image: url({{ $imgURL }});" {{ end }}
      aria-label="{{ $block.title }}"
      role="region"
      tabindex="0"
    >
      {{ with $block.background_video_url }}
          <video preload autoplay muted loop id="video-bg" class="{{ if $block.parallax_background }}jarallax-img{{ end }}">
            <source src="{{ . }}" type="video/mp4">
          </video>
      {{ end }}
      <h2 class="block-title {{ if eq $block.show_block_title false }} sr-only {{ end }}">{{ $block.title }}</h2>
      <div class="container {{ with $block.columns }}column-container-{{ len . }}{{ end }}">
        {{ partial $path (dict "context" $context "block" . ) }}
      </div>
    </div>
  {{ end }}
  <!-- add the pages content here -->
  {{ with .Content }}
  <div class="block block-columns">
    <div class="container">
      <div id="column-video-column-text" class="item no-padding" role="region" tabindex="0">
        {{ . }}
      </div>
     </div>
  </div>
  {{ end }}
</div>
