{{/**
   * Slideshow Block
   *
   * Block for adding a slideshow to a landing page.
   *
   * @version 1.0.0
   */}}

{{ $page := .page }}
{{ $site := .site }}
{{ $block := .block }}

  <h2 class="block-title {{ if eq .block.block_options.show_title false }} sr-only {{ end }}">{{ .block.title }}</h2>
  {{/*  <div class="">
    <div id="slideshow-{{ .block.title | urlize }}" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#slideshow-{{ .block.title | urlize }}" data-slide-to="0" class="active"></li>
        <li data-target="#slideshow-{{ .block.title | urlize }}" data-slide-to="1"></li>
        <li data-target="#slideshow-{{ .block.title | urlize }}" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {{ range $index, $slide := .block.slides }}
        <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
          
          <div class="embed-responsive embed-responsive-{{ index $ratio 0 }}by{{ index $ratio 1 }}">
            <div class="embed-responsive-item">
              {{ partial "components/figure" ( dict "page" $page "site" $site "media" . ) }}
              <!-- <img class="fill-cover" src="{{ partial "utilities/image-url" (dict "page" $page "url" $slide.image "transform" "c_fill,h_800,q_auto:good,w_1280") }}" class="d-block w-100" alt="..."> -->
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <a class="carousel-control-prev" href="#slideshow-{{ .block.title | urlize }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slideshow-{{ .block.title | urlize }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>  */}}


  <div class="slideshow">
    {{ range $index, $slide := .block.slides }}
      {{ partial "components/figure" ( dict "page" $page "site" $site "media" . ) }}
    {{ end }}
  </div>