{{/**
   * Latest Posts Block
   *
   * Block for displaying the website's latest blog posts on a landing page
   *
   * @version 1.0.0
   */}}

  {{ if .block.block_options.show_title }}
  <div class="container">
    <h2 class="block-title">{{ .block.title }}</h2>
  </div>
  {{ end }}
  <div class="container latest-posts-{{ .block.show_quantity }}">
    {{ $page := .page }}
    {{ $posts := where .site.RegularPages "Section" "posts" }}
    {{ $site := .site }}
    {{ $block := .block }}
    {{ range first .block.show_quantity $posts  }}
      {{ partial "components/article-summary" (dict "page" . "site" $site )}}
    {{ end }}
  </div>
