{{/**
   * Taxonomy Navigation Block
   *
   * Show's links to all the websites taxonomies
   * you can hide unwanted taxonomyies via CSS
   *
   * @version 1.0.0
   */}}

{{ $page := .page }}
{{ $site := .site }}
<div class="container">
  <h2 class="block-title {{ if eq .block.block_options.show_title false }} sr-only {{ end }}">{{ .block.title }}</h2>
  <nav class="nav-taxonomies">
    <ul class="list-unstyled">
      {{ range $index, $taxonomy := .site.Taxonomies }}
      <li class="d-flex flex-column {{ if $taxonomy.HasChildren }}nested {{ end }}">
        {{ if gt (len $taxonomy) 0 }}
        <a class="nav-link dropdown-toggle $page {{ $taxonomy.Name | urlize }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
          {{ $index | pluralize | humanize }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range $key, $value := $taxonomy }}
          <a class="dropdown-item {{ $taxonomy.Name | urlize }}" href="{{ "/" | relLangURL}}{{ $index | urlize }}/{{ $key| urlize }}">
            {{ $key | singularize | humanize }}
          </a>
          {{ end }}
        </div>
        {{ else }}
        <a class="nav-link {{ if .HasChildren }}dropdown-toggle{{ end }} $page {{ $taxonomy.Name | urlize }}" href="{{ .URL }}">
          {{ $taxonomy.Pre }}
          {{ $taxonomy.Name }}
          {{ $taxonomy.Post }}
          {{ if $taxonomy.HasChildren }}
          <i class='icon-chevron-down'></i>
          {{ end }}
        </a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
