{{/**
   * Google Maps Block
   *
   * Block for adisplaying a map on a landing page. 
   * Requires a Google API key to be set in 
   * /data/orgainization.yaml or in the block's front matter
   *
   * @version 1.0.1
   *
   * 
   */}}
{{ if $.context.Site.Params.google_cloud_api }}
<div class="map-container">
  <iframe
    src="https://www.google.com/maps/embed/v1/place?key={{ $.context.Site.Params.google_cloud_api }}&q={{ .block.address_1 }}%20{{ .block.address_2 }}%20{{ .block.city }}%20{{ .block.state }}%20{{ .block.zip_code }} "
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    allowfullscreen
    class="embed-responsive-item"
    title="Map of {{ .block.address_1 }}"
  ></iframe>
</div>
<div class="map-content text-center">
  {{ .block.map_content |  markdownify }}
</div>
{{ else }}
  {{ partial "messages/danger" "You need to add a Google Cloud API Key. [Get one at Google Cloud.](https://cloud.google.com/apis)"}}
{{ end }}
