{{/**
   * Columns Block
   *
   * Block for adding columns to a landing page. There is no limit to how many columns get added.
   * Each column has an id attribute for individula styling.
   *
   * @version 1.0.0
   */}}
  {{ with .block.columns }}
    {{ range . }}
    <div id="column-{{ .title  | anchorize }}" class="item {{ .color_scheme | urlize }} text-{{ .text_align }}" role="region" tabindex="0">
      <div>
        {{ .content | markdownify }}
      </div>
    </div>
    {{ end }}
  {{ else }}
    {{ partial "messages/warning" "You have not added any columns to this block yet."}}
  {{ end }}

