// first two articles on the first page
.articles.articles-1 {
    article:nth-of-type(-n+2),
    .article:nth-of-type(-n+2) {
        @include respond-to(xl){
            flex: 0 0 47%;
            background-color: transparent !important;
            color: $black;
            align-items: start;
            @include ms-respond(row-gap,-2);
            grid-template-columns: 1fr;
            grid-template-areas:
            "head"
            "time"
            "summ";

            &.has-thumbnail {
                .thumbnail {
                    display: block;
                }

                grid-template-areas:
                "thumb"
                "head"
                "time"
                "summ";

                a {
                padding-bottom: 56.2%;
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                }
            }

            header {
                display: flex;
                flex-direction: column;
                @include ms-respond(--marginTop,0);
                @include ms-respond(--marginBottom,1);
                margin: var(--marginTop) 0 var(--marginBottom);
            }

            h3 {
                line-height: 1.1;

                a {
                @include ms-respond(font-size,0.25);
                font-weight: 600;
                line-height: 1.1;
                }
            }
        }
    }
    }

    // all other articles on the first page
    .article:nth-of-type(n+3) {
    @include respond-to(md){
        flex: 0 0 100%;
        display: grid;
    }

    &.has-thumbnail {
        grid-template-columns: repeat(12,1fr);
        grid-template-areas:
        "thumb thumb thumb thumb head head head head head head head head"
        "thumb thumb thumb thumb time time time time time time time time"
        "thumb thumb thumb thumb summ summ summ summ summ summ summ summ";

        .thumbnail {
        @include respond-to(md){
            display: block;
        }
        }
    }
}