// Extra Small Breakpoint
@include respond-to(xs){
    .article span{
        flex: 0 0 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-areas: 
        "head head head head head head head head head head head head";

        .thumbnail {
            display: block;
        }

        .h2 {
            margin-bottom: 0;
            @include line-clamp(3);
        }
    
        .time {
            display: none;
            margin-bottom: 0;
            color: $black;
            font-style: italic;
        }
    
        .summary-text {
            display: none;
        }
    }
    
    .article.has-thumbnail span {
        grid-template-areas: 
        "thumb thumb thumb head head head head head head head head head";  
    }        

}