// Medium Breakpoint
@include respond-to(md){
  article, .article span{
    grid-template-areas: 
    "head head head head head head head head head head head head";

    .h2 {
        margin-bottom: 0;
        @include line-clamp(3,1.5);
    }

    .time {
        display: none;
    }

    .summary-text {
        display: none;
    }
  }

  .article.has-thumbnail span {
    grid-template-areas: 
    "thumb thumb thumb thumb head head head head head head head head";
  }        
}