// Large Breakpoint
@include respond-to(lg){
  .article span {
    grid-template-areas: 
    "head head head head head head head head head head head head"
    "summ summ summ summ summ summ summ summ summ summ summ summ";

    .h2 {
        margin-bottom: 0;
        line-height: 1.4;
        @include line-clamp(3);
    }

    .summary-text {
      color: $black;
      @include line-clamp(2);
      line-height: 1.75;
    }
  }

  .article.has-thumbnail span{
    grid-template-areas: 
    "thumb thumb thumb thumb head head head head head head head head"
    "thumb thumb thumb thumb summ summ summ summ summ summ summ summ";
  }
}

