/**
 *
 * Widgets
 *
 **/

/* Latest Posts */

$widget-margin: 0 0 var( --global-margin );
$widget-padding: 0;
$widget-font-size: 0;


$latest-thumbnail-display:  block;
$latest-header-display:     block;
$latest-summary-display:    block;