/** 
 * sidebar Grid
 **/
// AREAS
$sidebar-grid-area: sidebar;
// xs
$sidebar-xs-template-areas:
  "header"
  "wrap"
  "footer";
// sm
$sidebar-sm-template-areas: $sidebar-xs-template-areas;
// md
$sidebar-md-template-areas: $sidebar-xs-template-areas;
// lg
$sidebar-lg-template-areas: $sidebar-xs-template-areas;
// xl
$sidebar-xl-template-areas: $sidebar-xs-template-areas;
// xxl
$sidebar-xxl-template-areas: $sidebar-xs-template-areas;
// xxxl
$sidebar-xxxl-template-areas: $sidebar-xs-template-areas;

// COLUMNS
// xs
$sidebar-xs-template-columns: repeat(1, 1fr);
// sm
$sidebar-sm-template-columns: $sidebar-xs-template-columns;
// md
$sidebar-md-template-columns: $sidebar-xs-template-columns;
// lg
$sidebar-lg-template-columns: $sidebar-xs-template-columns;
// xl
$sidebar-xl-template-columns: $sidebar-xs-template-columns;
// xxl
$sidebar-xxl-template-columns: $sidebar-xs-template-columns;
// xxxl
$sidebar-xxxl-template-columns: $sidebar-xs-template-columns;

$sidebar-template-areas: (
  xs: $sidebar-xs-template-areas,
  sm: $sidebar-sm-template-areas,
  md: $sidebar-md-template-areas,
  lg: $sidebar-lg-template-areas,
  xl: $sidebar-xl-template-areas,
  xxl: $sidebar-xxl-template-areas,
  xxxl: $sidebar-xxxl-template-areas
);

$sidebar-template-columns: (
  xs: $sidebar-xs-template-columns,
  sm: $sidebar-sm-template-columns,
  md: $sidebar-md-template-columns,
  lg: $sidebar-lg-template-columns,
  xl: $sidebar-xl-template-columns,
  xxl: $sidebar-xxl-template-columns,
  xxxl: $sidebar-xxxl-template-columns
);

sidebar {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  @include responsive-property($sidebar-template-areas,'grid-template-areas');
  @include responsive-property($sidebar-template-columns,'grid-template-columns');
  aside {
    display: block;
  }
}