/** 
 * Body Grid
 **/
// AREAS
$body-grid-area: body;
// xs
$body-xs-template-areas:
  // "head"
  "hero"
  "breadcrumbs" 
  "wrap"
  "footer";
// sm
$body-sm-template-areas: $body-xs-template-areas;
// md
$body-md-template-areas: $body-xs-template-areas;
// lg
$body-lg-template-areas: $body-xs-template-areas;
// xl
$body-xl-template-areas: $body-xs-template-areas;
// xxl
$body-xxl-template-areas: $body-xs-template-areas;
// xxxl
$body-xxxl-template-areas: $body-xs-template-areas;

// COLUMNS
// xs
$body-xs-template-columns: repeat(1, 1fr);
// sm
$body-sm-template-columns: $body-xs-template-columns;
// md
$body-md-template-columns: $body-xs-template-columns;
// lg
$body-lg-template-columns: $body-xs-template-columns;
// xl
$body-xl-template-columns: $body-xs-template-columns;
// xxl
$body-xxl-template-columns: $body-xs-template-columns;
// xxxl
$body-xxxl-template-columns: $body-xs-template-columns;

$body-template-areas: (
  xs: $body-xs-template-areas,
  sm: $body-sm-template-areas,
  md: $body-md-template-areas,
  lg: $body-lg-template-areas,
  xl: $body-xl-template-areas,
  xxl: $body-xxl-template-areas,
  xxxl: $body-xxxl-template-areas
);

$body-template-columns: (
  xs: $body-xs-template-columns,
  sm: $body-sm-template-columns,
  md: $body-md-template-columns,
  lg: $body-lg-template-columns,
  xl: $body-xl-template-columns,
  xxl: $body-xxl-template-columns,
  xxxl: $body-xxxl-template-columns
);

body{
  position: relative;
  padding: 8rem 0 0;
  margin: 0;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  @include responsive-property($body-template-areas,'grid-template-areas');
  @include responsive-property($body-template-columns,'grid-template-columns');
  aside {
    display: block;
  }
}

body.home {
  padding-top: 0;
}