/** 
 * wrap-sidebar Grid
 **/
// AREAS
$wrap-sidebar-grid-area: wrap-sidebar;
// xs
$wrap-sidebar-xs-template-areas: "main" "sidebar";
// sm
$wrap-sidebar-sm-template-areas: $wrap-sidebar-xs-template-areas;
// md
$wrap-sidebar-md-template-areas: "main main main sidebar";
// lg
$wrap-sidebar-lg-template-areas: $wrap-sidebar-md-template-areas;
// xl
$wrap-sidebar-xl-template-areas: $wrap-sidebar-md-template-areas;
// xxl
$wrap-sidebar-xxl-template-areas: $wrap-sidebar-md-template-areas;
// xxxl
$wrap-sidebar-xxxl-template-areas: $wrap-sidebar-md-template-areas;

// COLUMNS
// xs
$wrap-sidebar-xs-template-columns: repeat(1, 1fr);
// sm
$wrap-sidebar-sm-template-columns: $wrap-sidebar-xs-template-columns;
// md
$wrap-sidebar-md-template-columns: repeat(4, 1fr);
// lg
$wrap-sidebar-lg-template-columns: $wrap-sidebar-md-template-columns;
// xl
$wrap-sidebar-xl-template-columns: $wrap-sidebar-md-template-columns;
// xxl
$wrap-sidebar-xxl-template-columns: $wrap-sidebar-md-template-columns;
// xxxl
$wrap-sidebar-xxxl-template-columns: $wrap-sidebar-md-template-columns;

$wrap-sidebar-template-areas: (
  xs: $wrap-sidebar-xs-template-areas,
  sm: $wrap-sidebar-sm-template-areas,
  md: $wrap-sidebar-md-template-areas,
  lg: $wrap-sidebar-lg-template-areas,
  xl: $wrap-sidebar-xl-template-areas,
  xxl: $wrap-sidebar-xxl-template-areas,
  xxxl: $wrap-sidebar-xxxl-template-areas
);

$wrap-sidebar-template-columns: (
  xs: $wrap-sidebar-xs-template-columns,
  sm: $wrap-sidebar-sm-template-columns,
  md: $wrap-sidebar-md-template-columns,
  lg: $wrap-sidebar-lg-template-columns,
  xl: $wrap-sidebar-xl-template-columns,
  xxl: $wrap-sidebar-xxl-template-columns,
  xxxl: $wrap-sidebar-xxxl-template-columns
);

body.sidebar .wrap {
  display: grid;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  @include responsive-property($wrap-sidebar-template-areas,'grid-template-areas');
  @include responsive-property($wrap-sidebar-template-columns,'grid-template-columns');
  aside {
    display: block;
  }
}