.container {

  // Spacing & Dimensions
  margin: 0 auto;
  width: 100%;
  
  @each $key, $value in $breakpoints {
    @media ( min-width: $value ) {
      max-width: map-get( $container-max-widths, $key );
    }
  }

  // Colors
}