/** 
 * footer Grid
 **/

$footer-template-areas: ( 
  xs: $footer-xs-template-areas, 
  sm: $footer-sm-template-areas, 
  md: $footer-md-template-areas, 
  lg: $footer-lg-template-areas, 
  xl: $footer-xl-template-areas, 
  xxl: $footer-xxl-template-areas, 
  xxxl: $footer-xxxl-template-areas
 );

$footer-template-columns: ( 
  xs: $footer-xs-template-columns, 
  sm: $footer-sm-template-columns, 
  md: $footer-md-template-columns, 
  lg: $footer-lg-template-columns, 
  xl: $footer-xl-template-columns, 
  xxl: $footer-xxl-template-columns, 
  xxxl: $footer-xxxl-template-columns
 );

.site-footer {
  grid-area: footer;
  @include space-element( margin, $footer-margin-x, $footer-margin-y );
  @include space-element( padding, $footer-padding-x, $footer-padding-y );

  display: grid;
  @include grid-gaps( $footer-column-gap, $footer-row-gap );
  @include responsive-property( $footer-template-areas, 'grid-template-areas' );
  @include responsive-property( $footer-template-columns, 'grid-template-columns' );

  #privacy-nav {
    display: inline-block;
  }

  .made-with-bugo {
    a {
      text-decoration: none;
    }
  }
}

