/** 
 * Header Grid
 **/
// SPACING
$header-padding: 0;
$header-margin: 0;
 // AREAS
$header-grid-area: header;
// xs
$header-xs-template-areas:
  "ncon";
// sm
$header-sm-template-areas: $header-xs-template-areas;
// md
$header-md-template-areas: $header-xs-template-areas;
// lg
$header-lg-template-areas: $header-xs-template-areas;
// xl
$header-xl-template-areas: $header-xs-template-areas;
// xxl
$header-xxl-template-areas: $header-xs-template-areas;
// xxxl
$header-xxxl-template-areas: $header-xs-template-areas;

// COLUMNS
// xs
$header-xs-template-columns: repeat(1, 1fr);
// sm
$header-sm-template-columns: $header-xs-template-columns;
// md
$header-md-template-columns: $header-xs-template-columns;
// lg
$header-lg-template-columns: $header-xs-template-columns;
// xl
$header-xl-template-columns: $header-xs-template-columns;
// xxl
$header-xxl-template-columns: $header-xs-template-columns;
// xxxl
$header-xxxl-template-columns: $header-xs-template-columns;

$header-template-areas: (
  xs: $header-xs-template-areas,
  sm: $header-sm-template-areas,
  md: $header-md-template-areas,
  lg: $header-lg-template-areas,
  xl: $header-xl-template-areas,
  xxl: $header-xxl-template-areas,
  xxxl: $header-xxxl-template-areas
);

$header-template-columns: (
  xs: $header-xs-template-columns,
  sm: $header-sm-template-columns,
  md: $header-md-template-columns,
  lg: $header-lg-template-columns,
  xl: $header-xl-template-columns,
  xxl: $header-xxl-template-columns,
  xxxl: $header-xxxl-template-columns
);

.site-header{
  grid-area: head;
  padding: $header-padding;
  margin: $header-margin;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  @include responsive-property($header-template-areas,'grid-template-areas');
  @include responsive-property($header-template-columns,'grid-template-columns');
  aside {
    display: block;
  }
}

.site-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: $header-bg;
  display: grid;
  align-items: center;
  padding: $header-padding;
  margin: $header-margin;
  transform: translateY(0);
  transition: transform 0.5s;

  &.scrolled {
    transform: translateY(-100%);
  }

  @media (prefers-color-scheme: dark) {
      color:            $header-text-color-dark;
      background-color: $header-bg-dark;
  }

  .nav-container {
    background-color: $header-bg;
    position: relative; 
    z-index: 1000;

    &::before {
      content: "";
      background-color: $header-bg;
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: -100%;
      z-index: 0;

      @include respond-to(md){
        display: none;
      }
    }
  }

  .site-brand {
    position: relative;
    z-index: 100;
    grid-area: brand;
    white-space: nowrap;
    a {
      @include ms-respond(font-size,3);
      font-weight: bold;
      text-decoration: none;
      color: $header-link-color;
      @media (prefers-color-scheme: dark) {
          color: $header-link-color-dark;
      }
      img {
        width: $branding-image-width;
        height: auto;
      }   
    }
  }


  .nav-main {
    display: none;

    @include respond-to(md){
      display: block;
    }
  }

  .nav-secondary {
    display: none;

    @include respond-to(md){
      display: block;
    }
  }

  .search-container {
    display: none;

    @include respond-to(md){
      display: block;
    }

    form {
      margin: 0;
      display: flex;
      float: right;
      
      button, input {
        // padding: $header-search-field-padding;
        margin: $header-search-field-margin;
        @include ms-respond(font-size,$header-search-font-size);
      }
    }
  }
}
