.site-header {
  grid-area: head;
  display: block;
  @include space-element(margin, $header-margin-x, $header-margin-y);
  @include space-element(padding, $header-padding-x, $header-padding-y);
  width: $header-width;
  height: $header-height;
  position: $header-position;
  top: $header-top;
  left: $header-left;
  bottom: $header-bottom;
  right: $header-right;
  z-index: $header-z;

  color: $header-color;
  background-color: $header-bg;

  @media (prefers-color-scheme: dark) {
    color: $header-text-color-dark;
    background-color: $header-bg-dark;
  }

  a {
    text-decoration: none;
    color: $header-link-color;
    font-weight: $header-link-weight;

    @media (prefers-color-scheme: dark) {
      color: $header-link-color-dark;
    }

    &:hover {
      color: $header-link-focus;
    }
  }

  li.current {
    a {
      font-weight: bold;
    }
  }

  .site-brand {
    grid-area: brand;
    position: $brand-position;
    z-index: $brand-z;
    white-space: nowrap;

    img {
      display: block;
      width: $brand-width;
      max-width: $brand-max-width;
      height: auto;
    }
  }

  .search-container {
    .search-form {
      input {
        @include ms-respond(font-size, $search-font);
      }
      button {
        @include ms-respond(font-size, $search-font);
      }
    }
  }
}

.site-header {
  .nav-main {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  .nav-secondary {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  .search-container {
    display: none;

    @include respond-to(md) {
      display: block;
    }

    form {
      margin: 0;
      display: flex;
      float: right;

      button,
      input {
        // padding: $header-search-field-padding;
        margin: $header-search-field-margin;
        @include ms-respond(font-size, $header-search-font-size);
      }
    }
  }
}
