/**
 *
 * Header Nav Container
 *
 **/

$nav-con-template-areas: (
  xs: $nav-con-xs-template-areas,
  sm: $nav-con-sm-template-areas,
  md: $nav-con-md-template-areas,
  lg: $nav-con-lg-template-areas,
  xl: $nav-con-xl-template-areas,
  xxl: $nav-con-xxl-template-areas,
  xxxl: $nav-con-xxxl-template-areas
);

$nav-con-template-columns: (
  xs: $nav-con-xs-template-columns,
  sm: $nav-con-sm-template-columns,
  md: $nav-con-md-template-columns,
  lg: $nav-con-lg-template-columns,
  xl: $nav-con-xl-template-columns,
  xxl: $nav-con-xxl-template-columns,
  xxxl: $nav-con-xxxl-template-columns
);

.nav-container {
  position: relative;
  z-index: 1000;
}

.nav-container {
  grid-area: ncon;
  display: grid;
  background-color: $nav-con-bg;

  @extend .container;
  @include space-element(margin, $nav-con-margin-x, $nav-con-margin-y);
  @include space-element(padding, $nav-con-padding-x, $nav-con-padding-y);

  @include grid-gaps($nav-con-column-gap, $nav-con-row-gap);
  @include responsive-property($nav-con-template-areas, "grid-template-areas");
  @include responsive-property($nav-con-template-columns, "grid-template-columns");

  &::before {
    content: "";
    background-color: $nav-con-bg;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: -100%;
    z-index: 0;

    @include respond-to(md) {
      display: none;
    }
  }
}

.site-brand {
  grid-area: brand;
}

.nav-main {
  grid-area: nmain;
}

.nav-secondary {
  grid-area: nsec;
}

.search-container {
  grid-area: search;
}

.mobile-nav-button {
}
