.nav-main {
  position: relative;
  z-index: 100;
  color: $main-menu-color;
  @include space-element(margin, $main-menu-margin-x, $main-menu-margin-y);
  @include space-element(padding, $main-menu-padding-x, $main-menu-padding-y);

  ul {
    justify-content: $main-menu-justify;
  }

  a {
    color: $main-menu-color;
    white-space: $main-menu-whitespace;
    padding: $main-menu-link-padding;
    margin: $main-menu-link-margin;
    @include ms-respond(font-size,$main-menu-font);
    @media (prefers-color-scheme: dark) {
      color: $main-menu-color-dark;
    }
  }

  .dropdown-menu {
    background-color: $main-menu-dropdown-bg;

    a {
      white-space: $dropdown-whitespace;
      color: $main-menu-dropdown-color;
      @include ms-respond(font-size,$main-menu-dropdown-font);
    }

    @media (prefers-color-scheme: dark) {
      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 1rem solid $main-menu-dropdown-bg;
      }
    }
  }
}
