nav {
  li {
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.nav-horizontal {
  max-width: 100%;
  ul {
    display: flex;
    margin: 0;

    li {
      position: relative;
      list-style-type: none;

      &.current {
        font-weight: bold;
      }

      a {
      }
    }
  }

  .dropdown-menu {
    @include space-element-x(margin, $dropdown-margin-left, $dropdown-margin-right);
    @include space-element-y(margin, $dropdown-margin-top, $dropdown-margin-bottom);
    @include space-element-x(padding, $dropdown-padding-left, $dropdown-padding-right);
    @include space-element-y(padding, $dropdown-padding-top, $dropdown-padding-bottom);

    position: $dropdown-position;
    width: $dropdown-width;
    top: $dropdown-top;
    right: $dropdown-right;
    bottom: $dropdown-bottom;
    left: $dropdown-left;
    transform: $dropdown-transform;
    transition: $dropdown-transition;
    transform-origin: $dropdown-transform-origin;
    white-space: nowrap;
    opacity: $dropdown-opacity;
    display: block;

    background-color: $dropdown-bg;
    box-shadow: $dropdown-shadow;
    border-radius: $dropdown-radius;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-right: 1rem solid $dropdown-bg;
      border-bottom: 0.5rem solid transparent;
      border-left: none;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }


    .dropdown-menu {
      z-index: 200;
      top: -0.5rem;
      left: calc(100% + 1.5rem);
      right: auto;
      transform: none !important;
      background-color: lighten($dropdown-bg,20%);

      &::before {
        bottom: 100%;
        left: auto;
        right: 100%;
        top: 1.5rem;
        transform: none;
        border-top: 0.5rem solid transparent !important;
        border-right: 1rem solid lighten($dropdown-bg,20%) !important;
        border-bottom: 0.5rem solid transparent !important;
        border-left: none;
      }

      ul {
        li {
          a {
            white-space: normal;
          }
        }
      }
    }

    &.open {
      display: block;
      opacity: $dropdown-open-opacity;
      transform: $dropdown-open-transform;
    }

    .container {
      display: block;
    }

    ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    a {
      margin: 0.5rem 0;
      @include space-element(margin, $dropdown-link-margin-x, $dropdown-link-margin-y);
      @include space-element(padding, $dropdown-link-padding-x, $dropdown-link-padding-y);
    }
  }
}

/**
 *
 * Vertical Navigation
 *
 **/

.nav-vertical {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

    li {
      position: relative;
      list-style-type: none;
      @include ms-respond(margin-right, -1);

      &.current {
        font-weight: bold;
      }

      a {
        @include ms-respond(padding, -1);
        margin: 0;
      }
    }
  }

  // Vertical Dropdown

  .dropdown-menu {
    position: absolute;
    width: auto;
    top: 50%;
    left: calc(100% + 1rem);
    transform: translateX(0) translateY(-50%);
    transition: all 0.5s;
    white-space: nowrap;
    opacity: 0;
    display: none;
    @include ms-respond(padding, -1);
    background-color: #e0e0e0;
    margin-top: 0;
    padding: 1rem;
    z-index: 100;

    .dropdown-menu {
      z-index: 200;
    }

    &::before {
      content: "";
      display: none;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 1rem solid #e0e0e0;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%) rotate(270deg);
    }

    &.open {
      display: block;
      opacity: 1;
      // transform:  translateX( 0 ) translateY( 0 );
    }

    .container {
      display: block;
    }

    ul {

      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;

      li {
        a {
          margin: 0.5rem 0;
          white-space: nowrap !important;
        }
      }
    }
  }
}
