.nav-main {
  position: relative;
  z-index: 100;
  margin: $main-nav-margin;
  padding: $main-nav-padding;
  color: $main-nav-color;

  ul {
    justify-content: flex-end;
  }

  li {
    
  } 
  
  a {
    color: $main-nav-color;
    white-space: nowrap;
    padding: $main-nav-link-padding;
    margin: $main-nav-link-margin;
    @media (prefers-color-scheme: dark) {
        color: $main-dropdown-color-dark;
    }      
  }

  .dropdown-menu {
    background-color: $main-dropdown-bg;
    box-shadow: $global-box-shadow;
    border-radius: $global-radius;

    &::before{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 1rem solid $main-dropdown-bg;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $main-dropdown-bg-dark;
      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 1rem solid $main-dropdown-bg-dark;
        // position: absolute;
        // bottom: 100%;
        // left: 50%;
        // transform: translateX(-50%);
      }
    }      
  }
}