/**
 *
 * Header Nav Container
 *
 **/

$header-nav-container-template-areas: (
  xs: $header-nav-container-xs-template-areas,
  sm: $header-nav-container-sm-template-areas,
  md: $header-nav-container-md-template-areas,
  lg: $header-nav-container-lg-template-areas,
  xl: $header-nav-container-xl-template-areas,
  xxl: $header-nav-container-xxl-template-areas,
  xxxl: $header-nav-container-xxxl-template-areas
);

$header-nav-container-template-columns: (
  xs: $header-nav-container-xs-template-columns,
  sm: $header-nav-container-sm-template-columns,
  md: $header-nav-container-md-template-columns,
  lg: $header-nav-container-lg-template-columns,
  xl: $header-nav-container-xl-template-columns,
  xxl: $header-nav-container-xxl-template-columns,
  xxxl: $header-nav-container-xxxl-template-columns
);

.nav-container {
  position: relative;
  z-index: 1000;
}

.nav-container {
  grid-area: ncon;
  display: grid;
  background-color: $header-nav-container-bg;

  @extend .container;
  @include space-element(margin, $header-nav-container-margin-x, $header-nav-container-margin-y);
  @include space-element(padding, $header-nav-container-padding-x, $header-nav-container-padding-y);

  @include grid-gaps($header-nav-container-column-gap, $header-nav-container-row-gap);
  @include responsive-property($header-nav-container-template-areas, "grid-template-areas");
  @include responsive-property($header-nav-container-template-columns, "grid-template-columns");

  &::before {
    content: "";
    background-color: $header-nav-container-bg;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: -100%;
    z-index: 0;

    @include respond-to(md) {
      display: none;
    }
  }
}

.site-brand {
  grid-area: brand;
}

.nav-main {
  grid-area: nmain;
}

.nav-secondary {
  grid-area: nsec;
}

.search-container {
  grid-area: search;
}

.mobile-nav-button {
}
