#mobile-nav {
  position: absolute;
  z-index: -1;
  top: 100%;
  bottom: auto;
  background: darken($light,20%);
  width: 100vw;
  left: 50%;

  @include respond-to(md){
    display: none;
  }

  &.active {
    .nav-mobile {
      transform: translateY(0) translateX(-50%);
    }
  }
  
  .nav-mobile {
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: auto;
    background: darken($light,20%);
    width: 100vw;
    left: 0;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 0.5s;

    a {
      color: $dark;
    }
  }
}

.mobile-nav-button {
  position: relative;
  z-index: 1000000;
  width: 100%;
  height: auto;
  padding: 0.25rem 0;
  svg {
    width: 80% !important;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  @include respond-to(md){
    display: none;
  }
}

