/** 
 * Header Nav Container Grid
 **/
// SPACING
$navcon-padding: 1rem 0;
$navcon-margin: 0 auto;
// AREAS
$navcon-grid-area: navcon;
// xs
$navcon-xs-template-areas:
  "brand brand brand ... ... ... ... ... ... ... ... mbutton";
// sm
$navcon-sm-template-areas: $navcon-xs-template-areas;
// md
$navcon-md-template-areas: 
  "brand brand ... ... ... ... ... ... ... ... search search"
  "brand brand ... ... ... ... ... nmain nmain nmain nmain nmain";
// lg
$navcon-lg-template-areas:
  "brand brand ... ... ... ... ... ... ... ... search search"
  "brand brand ... ... ... ... ... nmain nmain nmain nmain nmain";
// xl
$navcon-xl-template-areas: $navcon-md-template-areas;
// xxl
$navcon-xxl-template-areas: $navcon-md-template-areas;
// xxxl
$navcon-xxxl-template-areas: $navcon-md-template-areas;

// COLUMNS
// xs
$navcon-xs-template-columns: repeat(12, 1fr);
// sm
$navcon-sm-template-columns: $navcon-xs-template-columns;
// md
$navcon-md-template-columns: $navcon-xs-template-columns;
// lg
$navcon-lg-template-columns: $navcon-xs-template-columns;
// xl
$navcon-xl-template-columns: $navcon-xs-template-columns;
// xxl
$navcon-xxl-template-columns: $navcon-xs-template-columns;
// xxxl
$navcon-xxxl-template-columns: $navcon-xs-template-columns;

$navcon-template-areas: (
  xs: $navcon-xs-template-areas,
  sm: $navcon-sm-template-areas,
  md: $navcon-md-template-areas,
  lg: $navcon-lg-template-areas,
  xl: $navcon-xl-template-areas,
  xxl: $navcon-xxl-template-areas,
  xxxl: $navcon-xxxl-template-areas
);

$navcon-template-columns: (
  xs: $navcon-xs-template-columns,
  sm: $navcon-sm-template-columns,
  md: $navcon-md-template-columns,
  lg: $navcon-lg-template-columns,
  xl: $navcon-xl-template-columns,
  xxl: $navcon-xxl-template-columns,
  xxxl: $navcon-xxxl-template-columns
);

.nav-container {
  @extend .container;
  margin: $navcon-margin;
  padding: $navcon-padding;
  grid-area: ncon;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  @include responsive-property($navcon-template-areas,'grid-template-areas');
  @include responsive-property($navcon-template-columns,'grid-template-columns');
  align-items: center;

  aside {
    display: block;
  }
}

.site-brand {
  grid-area: brand;
}

.nav-main {
  grid-area: nmain;
  display: none;
}

.nav-secondary {
  grid-area: nsec;
}

.search-container {
  grid-area: search;
}

.mobile-nav-button {
  grid-area: mbutton;
}

