#mobile-nav {
  position: absolute;
  z-index: -1;
  top: 100%;
  bottom: auto;

  width: 100%;
  left: 50%;

  @include respond-to(md) {
    display: none;
  }

  &.active {
    .nav-mobile {
      transform: translateY(0) translateX(-50%);
    }
  }

  .nav-mobile {
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: auto;
    background-color: $mobile-nav-bg;
    width: 100vw;
    left: 0;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 0.5s;

    a {
      color: $dark;
    }
  }
}

.mobile-button-container {
  grid-area: mbutton;
  position: relative;
}

.mobile-nav-button {
  position: $mobile-nav-position;
  right: 0;
  align-self: end;
  z-index: 1000000;
  // width: 100%;
  height: auto;
  @include space-element(margin, $mobile-nav-margin-x, $mobile-nav-margin-y);
  @include space-element(padding, $mobile-nav-padding-x, $mobile-nav-padding-y);

  svg {
    @include ms-respond(width, $mobile-nav-icon-width);
    @include ms-respond(height, $mobile-nav-icon-height);
    height: $mobile-nav-button-height;
    display: block;
  }

  @include respond-to(md) {
    display: none;
  }
}
