.wrap {
  // Spacing
  @include space-element(margin, $wrap-margin-x, $wrap-margin-y);
  @include space-element(padding, $wrap-padding-x, $wrap-padding-y);

  display: grid;
  grid-area: wrap;
  @include grid-gaps($wrap-column-gap, $wrap-row-gap);
  // @include ms-respond( grid-row-gap, $wrap-row-gap );
  @include responsive-property($wrap-template-areas, "grid-template-areas");
  @include responsive-property($wrap-template-columns, "grid-template-columns");

  aside {
    display: none;
  }
}
