.hero {
  width: 100vw;
  // @include ms-respond(padding-bottom,$hero-height);
  position: relative;

  @include ms-respond(margin-bottom,$hero-margin-bottom);

  .container {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  > img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }

  .hero-text {
    flex: 1 1 100%;
    color: $hero-text-color;
    @include ms-respond(font-size,$hero-font-size);
    text-align: $hero-text-align;
    @include ms-respond(padding-top,$hero-padding);
    @include ms-respond(padding-bottom,$hero-padding);
    text-transform: $hero-text-transform;
    line-height: $hero-text-line-height;
  }

  @if $hero-enable-filter {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $hero-filter-color;
      mix-blend-mode: $hero-filter-blend-mode;
      opacity: $hero-filter-opacity;
    }
  }
}