body.list {
  main {
    .article-summary {
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
      "thumb thumb head head head head"
      "thumb thumb time time time time"
      "thumb thumb tax tax tax tax"
      "summ summ summ summ summ summ";
      grid-column-gap: 2rem;

      header {
        grid-area: head;

        h3 {
          margin-top: 0;
        }
      }

      time {
        grid-area: time;
      }

      .thumbnail {
        grid-area: thumb;
        align-items: stretch;

        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .summary {
        grid-area: summ;
      }
    }
  }
}