/* colors */

$theme-colors: (
  primary:        $primary,
  secondary:      $secondary,
  accent-1:       $accent-1,
  accent-2:       $accent-2,
  light:          $light,
  dark:           $dark,
  white:          $white,
  black:          $black,
  success:        $success,
  info:           $info,
  warning:        $warning,
  danger:         $danger
);

$dark-colors: (
  primary:        $primary,
  secondary:      $secondary,
  accent-1:       $accent-1,
  accent-2:       $accent-2,
  light:          $light,
  dark:           $dark,
  white:          $white,
  black:          $black
);

/* Layout Colors */
$body-bg:         $light;
$body-bg-dark:    $dark;




/* Text color */
$base-text-color:           $dark;
$base-text-color-dark:      $light;
$link-text-color:           darken($accent-2,20%);
$link-text-color-dark:      $primary;
$heading-text-color:        $black;
$heading-text-color-dark:   $white;
$heading-link-color:        lighten($dark,15%);
$heading-link-color-dark:   darken($light,25%);

/* Forms */

$button-radius:               $global-radius;
$button-default-bg:           $dark;
$button-default-color:        $light;
$button-default-bg-dark:      $light;
$button-default-color-dark:   $dark;
