/* colors */

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  accent-1: $accent-1,
  accent-2: $accent-2,
  light: $light,
  dark: $dark,
  white: $white,
  black: $black,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger
);

$dark-colors: (
  primary: $primary,
  secondary: $secondary,
  accent-1: $accent-1,
  accent-2: $accent-2,
  light: $light,
  dark: $dark,
  white: $white,
  black: $black
);

$yiq-contrasted-threshold: 150 !default;

/* Text color */
$base-text-color: $dark;
$base-text-color-dark: $light;
$link-text-color: darken($accent-2, 20%);
$link-text-color-dark: $primary;
