/**
 * Share Buttons
 **/
$share-margin: 0;
$share-padding: 0;
$share-font-size: 2; //modularscale ratio
$share-icon-width: 3; //modularscale raito
$share-link-margin: 0 0.125rem;
$share-link-padding: 0.125rem;