$form-font-size: 1; //modularscale ratio 
$form-margin: 0;
$form-padding: 0;

$field-font-size: 1; // modularscale raito
$field-margin: 0;
$field-padding: 0.5em 0.6em;
$field-border: 1px solid #ccc;
$field-box-shadow: inset 0 1px 3px #ddd;
$field-border-radius: $global-radius;
$field-border-color: #ccc;
$field-focus-color: #129FEA;
$field-background: #eaeded;
