/**
 * Header Variables
 * margin and padding is in _grid-header.scss
 **/
$header-bg:               $light;
$header-bg-dark:          $dark;
$header-text-color:       $dark;
$header-text-color-dark:  $light;
$header-link-color:       $dark;
$header-link-color-dark:  $light;

$header-search-font-size:     0; //modularscale raito
$header-search-field-margin:  0 0 0 0.5rem;
$header-search-field-padding: 0.25rem 0.5rem;
$header-search-button-margin: 0 0 0 0.5rem;

/**
 * Branding
 **/
$branding-image-width: 5rem;


/**
 * Main Navigation 
 **/
$main-nav-margin:           0 -1rem 0 0;
$main-nav-padding:          0;
$main-nav-color:            $black;
$main-nav-link-margin:      0 0.5rem;
$main-nav-link-padding:     0.25rem 0.5rem;
$main-dropdown-bg:          $white;
$main-dropdown-color:       $black;
$main-dropdown-bg-dark:     lighten($dark,10%);
$main-dropdown-color-dark:  $white;