.widgets {
  @include space-element-x(margin, $widgets-margin-x, $widgets-margin-x);
  @include space-element-y(margin, $widgets-margin-y, $widgets-margin-y);
  @include space-element-x(padding, $widgets-padding-x, $widgets-padding-x);
  @include space-element-y(padding, $widgets-padding-y, $widgets-padding-y);
}

.widget {
  @include space-element-x(margin, $widget-margin-x, $widget-margin-x);
  @include space-element-y(margin, $widget-margin-y, $widget-margin-y);
  @include space-element-x(padding, $widget-padding-x, $widget-padding-x);
  @include space-element-y(padding, $widget-padding-y, $widget-padding-y);
  @include ms-respond( font-size, $widget-font-size );

  &:first-child {
    margin-top: 0;
  }
}

.widget-related-posts,
.widget-latest-posts {
  .article-summary {
    display: grid;
    // grid-template-columns: repeat( 1, 1fr );
    grid-template-areas:
    "time time time time time time"
    "thumb thumb thumb thumb thumb thumb"
    "head head head head head head"
    "tax tax tax tax tax tax"
    "summ summ summ summ summ summ";

    margin: 0 0 2rem;

    header {
      margin-bottom: 0;

      h4{
        margin: 0;
      }

      .taxonomy {
        margin: 0 0 1rem;
        display: none;
      }
    }

    .thumbnail {
      display: none;
    }

    .summary {
      display: none;
    }

    time {
      // grid-area: time;
    }

    .taxonomy {
      grid-area: tax;
      margin-top: 0.25rem;
      margin-bottom: 0;
    }
  }
}