.widget-latest-posts {
  article {
    display: grid;
    grid-template-columns: repeat(1,fr);
    grid-template-areas: "thum" "head" "summ";
    grid-row-gap: 0;

    margin: 0 0 2rem;

    header {
      grid-area: head;

      h3{
        margin: 0 0 1rem;
      }

      .taxonomy {
        margin: 0 0 1rem;
        display: none;
      }
    }

    .thumbnail {
      grid-area: thum;
      margin-bottom: 0.5rem;
      display: none;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .summary {
      display: none;
      grid-area: summ;
    }
  }
}