/**
 * Wrap Grid
 **/

@import "../sidebar/sidebar-vars";

.wrap {
  // Spacing
  aside {
    display: none;
  }
}

/**
 * wrap-sidebar Grid
 **/

body.sidebar .wrap {
  display: flex !important;
  flex-wrap: wrap;

  @include respond-to(md){
    flex-wrap: nowrap;
  }
  main{
    flex: 0 0 100%;
    @include respond-to(md){
      flex: 0 0 calc(100% - #{$sidebar-width});
    }
  }

  main > article {
    @include ms-respond(margin-right,$global-margin);
  }

  aside {
    display: block;

    > :first-child {
      margin-top: 0 !important;
    }

    @include respond-to(md){
      flex: 0 0 $sidebar-width;
      // > * {
      //   @include ms-respond(margin-left,$global-padding);
      // }
    }
  }
}
